﻿@model PSW.Models.PSW_EIF_BDA

@{
    ViewBag.Title = "Manage BDA";
    ViewBag.Action = "Manage BDA";
    ViewBag.Controller = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    PSW.Models.PSWEntities context = new PSW.Models.PSWEntities();
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @Html.Raw(ViewBag.message.Replace(Environment.NewLine, "<br/>"))
        </div>
    }
}

@using (Html.BeginForm("EIFBDA", "EIFRequest", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EIF_BDA_ID)

    @Html.HiddenFor(model => model.EIF_BDA_STATUS)

    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    @Html.Label("EIF Requests ")
                    <div class="form-group">
                        <div class="col-md-10">
                            @*@Html.DropDownListFor(model => model.EIF_BDA_EIF_REQUEST_NO, null, new { @class = "form-control select2 select2-primary" })*@
                            <div class="input-group input-group-sm">
                                @Html.EditorFor(model => model.EIF_BDA_EIF_REQUEST_NO, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter EIF Request Number" } })
                                @Html.ValidationMessageFor(model => model.EIF_BDA_EIF_REQUEST_NO, "", new { @class = "text-danger" })
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-primary btn-flat" name="FetchBDADetails"><span class="fas fa-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    @Html.Label("EIF GD Number")
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.EIF_BDA_GD_NO, null, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_GD_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                @{
                    if (Model != null)
                    {
                        if (Model.EIF_BDA_ID != 0)
                        {
                            <div class="row float-left Button-Margin">
                                @{
                                    if (Model.EIF_BDA_MAKER_ID != Session["USER_ID"].ToString() && Model.EIF_BDA_STATUS.ToLower() == "Initiated".ToLower())
                                    {
                                        <a href="@Url.Action("AproveBDA","EIFRequest", new { BA = Model.EIF_BDA_ID})" class="btn btn-outline-success float-left"><span class="fas fa-check"></span> Approve BDA</a>
                                    }
                                    if (Model.EIF_BDA_MAKER_ID != Session["USER_ID"].ToString() && Model.EIF_BDA_STATUS.ToLower() == "Initiated".ToLower() && Model.EIF_BDA_AMENDMENT_NO != 0)
                                    {
                                        <a href="@Url.Action("AproveBDA","EIFRequest", new { BA = Model.EIF_BDA_ID, ASN = 1})" class="btn btn-outline-primary float-left"><span class="fas fa-check"></span> Approve As New BDA</a>
                                    }
                                    if (Model.EIF_BDA_STATUS == "APPROVED")
                                    {
                                        <a href="@Url.Action("ReverseBDA","EIFRequest", new { BA = Model.EIF_BDA_ID})" class="btn btn-outline-danger float-left"><span class="fas fa-undo"></span> Reverse BDA</a>
                                    }
                                }
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>

    <div id="LoadGDAgainstBDA">

    </div>

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">
                Bank Debit Advice (BDA) Information
                @if (Model != null)
                {
                    @Html.Label(Model.EIF_BDA_NO)
                }
            </h3>
            <div class="card-tools">
                @*<a href="#" class="btn btn-outline-success"><span class="fas fa-file-excel"></span> Bulk Upload</a>*@
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-12">
                    <u><h2 id="ShowClientForBDA" class="text-center"></h2></u>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Total BDA Amount (EIF FCY)")
                        <div class="row">
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.EIF_BDA_TOTAL_BDA_AMOUNT_EIF_FCY, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", @readonly = "readonly", placeholder = "Enter Total BDA Amount (EIF FCY)" } })
                                @Html.ValidationMessageFor(model => model.EIF_BDA_TOTAL_BDA_AMOUNT_EIF_FCY, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.EIF_BDA_TOTAL_BDA_AMOUNT_EIF_FCY_CCY, null, new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.EIF_BDA_TOTAL_BDA_AMOUNT_EIF_FCY_CCY, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Sample Amount")
                        <div class="row">
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.EIF_BDA_SAMPLE_AMOUNT_EXCLUDE, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", placeholder = "Enter Sample Amount" } })
                                @Html.ValidationMessageFor(model => model.EIF_BDA_SAMPLE_AMOUNT_EXCLUDE, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.EIF_BDA_SAMPLE_AMOUNT_EXCLUDE_CCY, null, new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.EIF_BDA_SAMPLE_AMOUNT_EXCLUDE_CCY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Net BDA Amount (EIF FCY)")
                        <div class="row">
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.EIF_BDA_NET_BDA_AMOUNT_EIF_FCY, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @onkeypress = "return DecimalsOnly(event)", placeholder = "Enter Nets BDA Amount (EIF FCY)" } })
                                @Html.ValidationMessageFor(model => model.EIF_BDA_NET_BDA_AMOUNT_EIF_FCY, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.EIF_BDA_NET_BDA_AMOUNT_EIF_FCY_CCY, null, new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.EIF_BDA_NET_BDA_AMOUNT_EIF_FCY_CCY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Exchange Rate (EIF FCY)")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_BDA_EXCHANGE_RATE_EIF_FCY, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", placeholder = "Enter Exchange Rate (EIF FCY)" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_BDA_EXCHANGE_RATE_EIF_FCY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Net BDA Amount (EIF PKR)")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_NET_BDA_AMOUNT_PKR, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @onkeypress = "return DecimalsOnly(event)", placeholder = "Enter Net BDA Amount (EIF FCY)" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_NET_BDA_AMOUNT_PKR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Amount In Words")
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.EIF_BDA_AMOUNT_IN_WORDS, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Amount in words (EIF FCY)" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_AMOUNT_IN_WORDS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Currency (FCY)")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.EIF_BDA_CURRENCY_FCY, null, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_CURRENCY_FCY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("BDA Amount (FCY)")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_AMOUNT_FCY, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", placeholder = "Enter BDA Amount (FCY)" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_AMOUNT_FCY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Exchange Rate (FCY)")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_EXCHANGE_RATE_FCY, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", placeholder = "Enter Exchange Rate (FCY)" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_EXCHANGE_RATE_FCY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("BDA Amount (PKR)")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_AMOUNT_PKR, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", placeholder = "Enter BDA Amount (PKR)" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_AMOUNT_PKR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("BDA Document Ref No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_DOCUMENT_REQUEST_NO, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter BDA Document Ref Number" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_DOCUMENT_REQUEST_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("BDA Balance Amount FCY")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_Balance_Amount_FCY, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_Balance_Amount_FCY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-danger">(Charges & commissions are exclusive of BDA Amount)</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Commission (FCY)")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_COMMMISSION_FCY, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", placeholder = "Enter Commission (FCY)" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_COMMMISSION_FCY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Commission Amount (PKR)")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_COMMISSION_PKR, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", @readonly = "readonly", placeholder = "Enter Commission Amount (PKR)" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_COMMISSION_PKR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("FED (FCY)")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_FED_AMOUNT_FCY, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", placeholder = "Enter FED (FCY)" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_FED_AMOUNT_FCY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("FED Amount (PKR)")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_FED_AMOUNT_PKR, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", @readonly = "readonly", placeholder = "Enter FED Amount (PKR)" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_FED_AMOUNT_PKR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Swift Charges (PKR)")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_SWIFT_CHARGES_PKR, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", placeholder = "Enter Swift Charges (PKR)" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_SWIFT_CHARGES_PKR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Other Charges (PKR)")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_OTHER_CHARGES_PKR, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return DecimalsOnly(event)", placeholder = "Enter Other Charges (PKR)" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_OTHER_CHARGES_PKR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Flex Reference")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_FLEX_REFERENCE, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Flex Reference" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_FLEX_REFERENCE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Payment Country")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.EIF_BDA_PAYMENT_COUNTRY, null, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_PAYMENT_COUNTRY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Bill of Lading/Airway Bill No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_BDA_BILL_OF_LADING, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Bill of Lading/Airway Bill No" } })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_BILL_OF_LADING, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Remarks")
                        <div class="col-md-11">
                            @Html.TextAreaFor(model => model.EIF_BDA_REMARKS, new { @class = "form-control", @rows = "8", @placeholder = "Enter Remarks" })
                            @Html.ValidationMessageFor(model => model.EIF_BDA_REMARKS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" name="BdaSubmit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>

}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Upload Bulk EIF BDA </h3>
        <div class="card-tools">

            @using (Html.BeginForm("EIFBDABulkPortfolio", "EIFRequest", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input class="btn btn-outline-success" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required name="postedFile" />

                <input class="btn btn-outline-success" type="submit" value="Bulk Upload" />
            }
        </div>
    </div>
</div>


<div id="LoadBDAsInfoByEIF">
    @*@{
            Html.RenderAction("EIFBDAList", "EIFRequest",new { E = Model.EIF_BDA_EIF_REQUEST_NO });
        }*@
</div>
