﻿@model IEnumerable<PSW.Models.PSW_EIF_BDA_LIST>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Bank Debit Advice (BDA) Information List</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.Case Form Start -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>EIF Request No</th>
                                <th>BDA No</th>
                                <th>BDA Amount (FCY)</th>
                                <th>Balance Amount</th>
                                <th>Commission Amount</th>
                                <th>FED Amount</th>
                                <th>Swift Charges</th>
                                <th>Other Charges</th>
                                <th>Status</th>
                                <th>GD NUMBER</th>
                                <th>Edit</th>
                                <th>Download</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.EIF_BDA_EIF_REQUEST_NO)</td>
                                <td>@Html.DisplayFor(modelItem => item.EIF_BDA_NO)</td>
                                <td>@Html.DisplayFor(modelItem => item.EIF_BDA_AMOUNT_FCY)</td>
                                <td>@Html.DisplayFor(modelItem => item.EIF_BDA_Balance_Amount_FCY)</td>
                                <td>@Html.DisplayFor(modelItem => item.EIF_BDA_COMMISSION_PKR)</td>
                                <td>@Html.DisplayFor(modelItem => item.EIF_BDA_FED_AMOUNT_PKR)</td>
                                <td>@Html.DisplayFor(modelItem => item.EIF_BDA_SWIFT_CHARGES_PKR)</td>
                                <td>@Html.DisplayFor(modelItem => item.EIF_BDA_OTHER_CHARGES_PKR)</td>
                                <td>@Html.DisplayFor(modelItem => item.EIF_BDA_STATUS)</td>
                                <td>@Html.DisplayFor(modelItem => item.EIF_BDA_GD_NO)</td>
                                <td>
                                    <a href="@Url.Action("EIFBDA","EIFRequest", new { B = item.EIF_BDA_ID })" class="btn btn-outline-info">Edit</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("ExportEIFBDA","EIFRequest", new { AM = item.EIF_BDA_AMENDMENT_NO, REQ_NO = item.EIF_BDA_NO })" class="btn btn-outline-danger" data-target="tooltip" title="Download @item.EIF_BDA_NO"><span class="fas fa-download"></span></a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-info EIFBDA" value="@item.EIF_BDA_ID" data-toggle="modal" data-target="#modal-GetBDA" title="View @item.EIF_BDA_NO"><span class="fas fa-eye"></span></button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}
    <div class="modal fade" id="modal-GetBDA">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">EIF BDA(Bank Debit Advice)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="View_EIFBDA"></div>
                </div>
            </div>
        </div>
    </div>