﻿@model PSW.Models.PSW_EIF_DOCUMENT_REQUEST_INFO
@{
    ViewBag.Title = "EIF Document Info";
    ViewBag.Controller = "Home";
    ViewBag.Action = "EIF Document Info";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("EIFDocumentRequestInfo", "EIFRequest", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EIF_DRI_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">EIF Document Request Info</h3>
            <div class="card-tools">
                @*<a href="#" class="btn btn-outline-success"><span class="fas fa-file-excel"></span> Bulk Upload</a>*@
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Beneficiary Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_DRI_BENEFICIARY_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Beneficiary Name" } })
                            @Html.ValidationMessageFor(model => model.EIF_DRI_BENEFICIARY_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Beneficiary Address")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_DRI_BENEFICIARY_ADDRESS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Beneficiary Address" } })
                            @Html.ValidationMessageFor(model => model.EIF_DRI_BENEFICIARY_ADDRESS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Beneficiary Country")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.EIF_DRI_BENEFICIARY_COUNTRY, null, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.EIF_DRI_BENEFICIARY_COUNTRY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Beneficiary IBAN")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_DRI_BENEFICIARY_IBAN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Beneficiary IBAN" } })
                            @Html.ValidationMessageFor(model => model.EIF_DRI_BENEFICIARY_IBAN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Exporter Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_DRI_EXPORTER_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Exporter Name" } })
                            @Html.ValidationMessageFor(model => model.EIF_DRI_EXPORTER_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Exporter Address")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_DRI_EXPORTER_ADDRESS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Exporter Address" } })
                            @Html.ValidationMessageFor(model => model.EIF_DRI_EXPORTER_ADDRESS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Exporter Country")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.EIF_DRI_EXPORTER_COUNTRY, null, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.EIF_DRI_EXPORTER_COUNTRY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Port of Shipment")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_DRI_PORT_OF_SHIPMENT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Prot of Shipment" } })
                            @Html.ValidationMessageFor(model => model.EIF_DRI_PORT_OF_SHIPMENT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Delivery Terms")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.EIF_DRI_DELIVERY_TERM, null, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.EIF_DRI_DELIVERY_TERM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("LC/Contract No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_DRI_LC_CONT_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter LC / Contract Nunber" } })
                            @Html.ValidationMessageFor(model => model.EIF_DRI_LC_CONT_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Total Invoice Value")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_DRI_TOTAL_INVOICE_VALUE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Total Invoice Number" } })
                            @Html.ValidationMessageFor(model => model.EIF_DRI_TOTAL_INVOICE_VALUE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Exchange Rate")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EIF_DRI_EXCHANGE_RATE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Exchange Rate" } })
                            @Html.ValidationMessageFor(model => model.EIF_DRI_EXCHANGE_RATE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
    <div>
        @{
            Html.RenderAction("EIFDocumentRequestInfoList", "EIFRequest");
        }
    </div>
}
