﻿@model PSW.Models.EIFGDFilter
@{
    ViewBag.Title = "EIF GD";
    ViewBag.Controller = "Home";
    ViewBag.Action = "EIF GD";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @Html.Raw(ViewBag.message.Replace(Environment.NewLine, "<br/>"))
        </div>
    }
}
@using (Html.BeginForm("EIFGD", "EIFRequest", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entity.EIGDGI_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Manage GD Status</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("EIF Request No:")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.EIGDGI_EIF_REQUEST_NO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Entity.EIGDGI_EIF_REQUEST_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("EIF GD No:")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.EIGDGI_GD_NO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Entity.EIGDGI_GD_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("EIF GD Status")
                        <div class="col-md-11">
                            @Html.DropDownListFor(model => model.Entity.EIGDGI_GD_STATUS, new List<SelectListItem>
                            {
                                new SelectListItem{Text="Submitted – (This status is sent by PSW to AD only If negative list of AD is matched)", Value="01"},
                                new SelectListItem{Text="Cancelled – (This status is sent by PSW to AD only if a trader cancels a GD whose negative list of AD was matched)", Value="02"},
                                new SelectListItem{Text="Released by AD – (This status is sent by AD to PSW, when they release such a GD whose negative list of AD was matched)", Value="03"},
                                new SelectListItem{Text="Rejected by AD – (This status is sent by AD to PSW, when they reject such a GD whose negative list of AD was matched)", Value="04"},
                                new SelectListItem{Text="Cleared by PSW – (This status is sent by PSW to AD when negative list of AD is NOT matched)", Value="05"},
                                new SelectListItem{Text="Dray Off – (This status is sent by PSW to AD only if a trader dray offs a GD whose negative list of AD was matched)", Value="06"},
                                new SelectListItem{Text="Financial Instrument Replaced – (When AC/DC replaces Financial Instrument, PSW will sent GD again to bank with the said status)", Value="07"}
                            }, "--Select GD Status--", new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.Entity.EIGDGI_GD_STATUS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("EIFGDFilter", "EIFRequest", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Filter Data</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.Label("From Date")
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select From Date" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.Label("To Date")
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select To Date" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                @{
                    Html.RenderAction("GetAllGDsList", "EIFRequest");
                }
            </div>
        </div>
    </div>
}

<div class="modal fade" id="modal-GetGD">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">EIF GD</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="View_EIFGD"></div>
            </div>
        </div>
    </div>
</div>