﻿@model IEnumerable<PSW.Models.PSW_EIF_GD_IMPORT_EXPORT_INFO>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">EIF GD Import/Export List</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.Case Form Start -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>NTN / FTN</th>
                                <th>STRN</th>
                                <th>Consignee Name</th>
                                <th>Consignee Address</th>
                                <th>Consignor Name</th>
                                <th>Consignor Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIGDIE_NTN_FTN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIGDIE_STRN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIGDIE_CONSIGNEE_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIGDIE_CONSIGNEE_ADDRESS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIGDIE_CONSIGNOR_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIGDIE_CONSIGNOR_ADDRESS)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EIFGDImportExportInfo", "EIFRequest", new { G = item.EIGDIE_ID })" class="btn btn-outline-info">Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}
