﻿@model IEnumerable<PSW.Models.PSW_EIF_MASTER_DETAILS>

@{
    /**/

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }

    if (Model != null)
    {
        if (Model.Count() > 0)
        {
        <div class="ListOfEIF">
            <table id="example1" class="table table-bordered text-center table-hover">
                <thead class="Custom-Table-Head">
                    <tr>
                        <th>Go to</th>
                        <th>
                            EIF Request No
                        </th>
                        <th>
                            Internal Ref No
                        </th>
                        <th>
                            Importer Name
                        </th>
                        <th>
                            LC/Contract No
                        </th>
                        <th>
                            Importer IBAN
                        </th>
                        <th>
                            Importer NTN
                        </th>
                        <th>
                            Exporter Country
                        </th>
                        <th>
                            Invoice Value
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Status Date
                        </th>
                        <th>
                            Amendment No
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @{
                                    string SelectedOption = ViewBag.SelectedOption;
                                    <a href="@Url.Action("GetEIFViewMode", "EIFRequest", new { E = item.EIF_BI_EIF_REQUEST_NO,M = SelectedOption,AM=item.EIF_BI_AMENDMENT_NO})"
                                       data-toggle="tooltip" title="Go to View EIF #  @Html.DisplayFor(modelItem => item.EIF_BI_EIF_REQUEST_NO)" class="btn btn-outline-primary"><i class="fas fa-file-text"></i></a>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIF_BI_EIF_REQUEST_NO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIF_BI_INTERNAL_REF)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.C_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIF_DRI_LC_CONT_NO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIF_BI_BUSSINESS_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIF_BI_NTN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIF_DRI_EXPORTER_COUNTRY_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIF_DRI_TOTAL_INVOICE_VALUE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIF_BI_APPROVAL_STATUS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIF_BI_STATUS_DATE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIF_BI_AMENDMENT_NO)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        }
        else
        {
            <div class="alert alert-warning text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
                No Data Found
            </div>
        }
    }
    else
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            No Data Found
        </div>
    }
}