﻿@model IEnumerable<PSW.Models.PSW_EIF_GD_GENERAL_INFO_LIST>

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "PSW GDs";
    ViewBag.Controller = "Home";
    ViewBag.Action = "PSW GDs";
}

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <table id="example1" class="table table-bordered text-center table-hover">
                <thead class="Custom-Table-Head">
                    <tr>
                        <th>
                            GD No
                        </th>
                        <th>
                            EIF No
                        </th>
                        <th>
                            Consignee Name
                        </th>
                        <th>
                            Assessed Value
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIGDGI_GD_NO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIGDGI_EIF_REQUEST_NO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIGDIE_CONSIGNEE_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIGDGI_ASSESSED_VALUE_USD)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EIGDGI_GD_STATUS)
                            </td>
                            <td>
                                <button type="button" name="ViewEIFGD" id="ViewEIFGD" class="btn btn-outline-info" value="@item.EIGDGI_ID" data-toggle="modal" data-target="#modal-GetGD" title="View @item.EIGDGI_GD_NO"><span class="fas fa-eye"></span></button>
                                @*<a href="@Url.Action("GetGDView", "EIFRequest", new { GD = item.EIGDGI_GD_NO, M = item.EIGDGI_AMENDMENT_NO })" class="btn btn-outline-info" data-toggle="tooltip" title="View @item.EIGDGI_EIF_REQUEST_NO"><span class="fas fa-eye"></span></a>*@
                                <a href="@Url.Action("EIFGD", "EIFRequest", new { ID = item.EIGDGI_ID })" class="btn btn-outline-info" data-toggle="tooltip" title="Edit @item.EIGDGI_GD_NO"><span class="fas fa-pen"></span></a>
                                <a href="@Url.Action("ExportEIFGD", "EIFRequest", new { AM = item.EIGDGI_AMENDMENT_NO ,GD_NO = item.EIGDGI_GD_NO })" class="btn btn-outline-danger" data-toggle="tooltip" title="Download @item.EIGDGI_GD_NO"><span class="fas fa-download"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}
