﻿@model PSW.Models.PSW_EIF_BDA


@{
    ViewBag.Title = "ManageBDA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    PSW.Models.PSWEntities context = new PSW.Models.PSWEntities();
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}

<h2>Manage BDA</h2>



                @using (Html.BeginForm("ManageBDA", "EIFRequest"))
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                   @Html.DropDownListFor(model => model.EIF_BDA_EIF_REQUEST_NO, null, new { @class = "form-control select2 select2-primary" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <button type="submit" value="Fetch" class="btn btn-outline-success"><i class="fas fa-refresh"></i> Fetch </button>    
                                </div>
                            </div>
                        </div>

                    </div>
                }

@{
    if (Model != null)
    {
            Html.RenderAction("EIFBDA", "EIFRequest", Model);
    }
}

