﻿@model PSW.Models.PSW_PROCESS_CODE
@{
    ViewBag.Title = "Manage Process Code";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Manage Process Code";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("ProcessCode", "WebApiSetting", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.PC_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Manage Process Code</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Porcess Code")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PC_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Process Code" } })
                            @Html.ValidationMessageFor(model => model.PC_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Process Code Status")
                        <div class="col-md-10">
                            <div class="dropdown">
                                @Html.DropDownListFor(model => model.PC_STATUS, new List<SelectListItem>
                                { new SelectListItem{Text="Active", Value="true"},
                                 new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.PC_STATUS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("Process Code Description")
                        <div class="col-md-11">
                            @Html.TextAreaFor(model => model.PC_DETAIL, new { @class = "form-control", @rows = "8", @placeholder = "Enter Process Code Description" })
                            @Html.ValidationMessageFor(model => model.PC_DETAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
    <div>
        @{
            Html.RenderAction("ProcessCodeVIew", "WebApiSetting");
        }
    </div>
}