﻿@model IEnumerable<PSW.Models.PSW_PROCESS_CODE>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Process Code List</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered text-center table-hover">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>Process Code Name</th>
                            <th>Process Code Detail</th>
                            <th>Process Code Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PC_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PC_DETAIL)
                                </td>
                                <td>
                                    @if (item.PC_STATUS == true)
                                    {
                                        <p class="text-success">Active</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">Deactive</p>
                                    }
                                </td>
                                <td>
                                    @{
                                        if (item.PC_ISAUTH == true)
                                        {
                                            <a href="@Url.Action("ProcessCode", "WebApiSetting", new { P = item.PC_ID })" data-toggle="tooltip" title="Edit @Html.DisplayFor(modelItem => item.PC_NAME)" class="btn btn-outline-primary">Edit</a>
                                        }
                                        if (item.PC_ISAUTH == false && item.PC_MAKER_ID != Session["USER_ID"].ToString())
                                        {
                                            <button type="button" value="@item.PC_ID" name="AuthorizeProcessCode" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.PC_NAME)" class="btn btn-outline-success">
                                                <span class="fas fa-check"></span>
                                            </button>
                                            <button type="button" value="@item.PC_ID" name="RejectAuthorizeProcessCode" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.PC_NAME)" class="btn btn-outline-danger">
                                                <span class="fas fa-times"></span>
                                            </button>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

