﻿
@{
    ViewBag.Title = "TestingEDI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @Html.Raw(ViewBag.message.Replace(Environment.NewLine, "<br/>"))
        </div>
    }
}


        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Test EDI FROM (AD TO PSW) </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>

                <div class="card-body">
                    <h2> Token Acquisition </h2>
                    <hr />
                    @using (Html.BeginForm("TestApiToken", "WebAPiSetting", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input class="btn btn-outline-success" type="submit" value="Send New Token Request ( Ignore Certificate )" />
                    }
                    @using (Html.BeginForm("TestApiTokenWithCertificate", "WebAPiSetting", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input class="btn btn-outline-success" type="submit" value="Send New Token Request With Sertificate ( Have Certificate )" />
                    }

                    @using (Html.BeginForm("ValidateApiToken", "WebAPiSetting", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input class="btn btn-outline-success" type="submit" value="Get Valid Token Or RequestNew" />
                    }
                    <hr />
                    <h2> EDI Messaging </h2>
                    <hr />
                    @using (Html.BeginForm("TestApiMethods", "WebAPiSetting", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="text" name="testingcase" hidden readonly value="OLD" />
                        <input type="text" name="cid" placeholder="Please Insert Client Id" />
                        <input type="text" name="token" placeholder="Please Insert Token Here" />
                        <input class="btn btn-outline-success" data-toggle="tooltip" title="Send Request 1512 With Bearer in Request Client Header And Added After Content." type="submit" value="Send Request 1512" />
                    }

                    <hr />
                    @using (Html.BeginForm("TestApiMethods", "WebAPiSetting", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="text" name="testingcase" hidden readonly value="BOTH" />
                        <input type="text" name="cid" placeholder="Please Insert Client Id" />
                        <input type="text" name="token" placeholder="Please Insert Token Here" />
                        <input type="text" name="Uri" placeholder="Please Insert URL ex: ipaddress/api/dealers/a/d/i/edi" />
                        <input class="btn btn-outline-success" data-toggle="tooltip" title="Send Request 1512 With Bearer in Request Message Header And HttpClient Header Both" type="submit" value="Send Request 1512" />
                    }
                    <hr />
                    @using (Html.BeginForm("TestApiMethods", "WebAPiSetting", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="text" name="testingcase" hidden readonly value="RH" />
                        <input type="text" name="cid" placeholder="Please Insert Client Id" />
                        <input type="text" name="token" placeholder="Please Insert Token Here" />
                        <input type="text" name="Uri" placeholder="Please Insert URL ex: ipaddress/api/dealers/a/d/i/edi" />
                        <input class="btn btn-outline-success" data-toggle="tooltip" title="Send Request 1512 With Bearer in Request Message Header" type="submit" value="Send Request 1512" />
                    }
                    <hr />
                    @using (Html.BeginForm("TestApiMethods", "WebAPiSetting", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="text" name="testingcase" hidden readonly value="CH" />
                        <input type="text" name="cid" placeholder="Please Insert Client Id" />
                        <input type="text" name="token" placeholder="Please Insert Token Here" />
                        <input type="text" name="Uri" placeholder="Please Insert URL ex: ipaddress/api/dealers/a/d/i/edi" />
                        <input class="btn btn-outline-success" data-toggle="tooltip" title="Send Request 1512 With Bearer in HttpClient Header" type="submit" value="Send Request 1512" />
                    }
                    <hr />
                    <hr />
                    <h2> Signature Testing </h2>
                    @using (Html.BeginForm("GetSignature", "WebAPiSetting", FormMethod.Post))
                    {
                        <input type="text" autocomplete="off" name="SignatureData" placeholder="Insert Data to Create Signature" />
                        <input class="btn btn-outline-success" data-toggle="tooltip" title="Create Signature of defined Data" type="submit" value="Create Signature" />
                    }
                    <hr />
                    <hr />
                    <h2> Data Testing </h2>
                    @using (Html.BeginForm("DataTesting", "WebAPiSetting", FormMethod.Post))
                    {
                        <input type="text" autocomplete="off" name="DataTestQuery" placeholder="Insert Query" />
                        <input class="btn btn-outline-success" data-toggle="tooltip" title="Check Data" type="submit" value="Check Data" />
                    }
                </div>
            </div>
        </div>



