﻿@model IEnumerable<PSW.Models.PSW_LOGIN_MASTER>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Login User List</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered text-center table-hover">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Assigned Role</th>
                            <th>User Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LOG_USER_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LOG_USER_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LOG_EMAIL)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ASSIGNED_ROLES)
                                </td>
                                <td>
                                    @if (item.LOG_USER_STATUS == "Active")
                                    {
                                        <p class="text-success">Active</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">Deactive</p>
                                    }
                                </td>
                                <td>
                                    @{
                                        if (item.LOG_ISAUTH == true)
                                        {
                                            <a href="@Url.Action("AddUser", "LoginUser", new { L = item.LOG_ID })" class="btn btn-outline-primary">Edit</a>
                                        }
                                        if (item.LOG_ISAUTH == false && item.LOG_MAKER_ID != Session["USER_ID"].ToString())
                                        {
                                            <button type="button" value="@item.LOG_ID" name="AuthorizeAddUser" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.LOG_USER_ID)" class="btn btn-outline-success">
                                                <span class="fas fa-check"></span>
                                            </button>
                                            <button type="button" value="@item.LOG_ID" name="RejectAuthorizeAddUser" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.LOG_USER_ID)" class="btn btn-outline-danger">
                                                <span class="fas fa-times"></span>
                                            </button>
                                        }
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

