﻿@model IEnumerable<PSW.Models.PSW_LOGIN_RIGHTS_VIEW>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">List Of Group Role</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.Case Form Start -->
            <div class="card-body">
                <table id="example1" class="table table-bordered text-center table-hover">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>User ID</th>
                            <th>Role Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LR_USER_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.R_NAME)
                                </td>
                                <td>
                                    @if (item.LR_STATUS == true)
                                    {
                                        <p class="text-success">Active</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">Deactive</p>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("AssignRoles","LoginUser", new { I = item.LR_ID,U= item.LR_USER_ID})" class="btn btn-outline-info">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

