﻿@model IEnumerable<PSW.Models.PSW_EIF_BDA_MARKING_Result>
@{
    ViewBag.Title = "BDA Marking";
    ViewBag.Controller = "Home";
    ViewBag.Action = "BDA Marking";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("BDAMarking", "MISReports", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card card-default card-outline">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("From Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="FromDate" autocomplete="off" id="FromDate" class="form-control CustomDatePicker" placeholder="Select Start Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("To Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="ToDate" autocomplete="off" id="ToDate" class="form-control CustomDatePicker" placeholder="Select End Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>
                                    @Html.Label("EIF Number")
                                </th>
                                <th>
                                    @Html.Label("Date of Transaction")
                                </th>
                                <th>
                                    @Html.Label("Bank Ref # (Lc/Contract/Adv/Open Acc)")
                                </th>
                                <th>
                                    @Html.Label("BDA Number")
                                </th>
                                <th>
                                    @Html.Label("Amount (FCY)")
                                </th>
                                <th>
                                    @Html.Label("Exchange Rate")
                                </th>
                                <th>
                                    @Html.Label("Amount (LCY)")
                                </th>
                                <th>
                                    @Html.Label("Commission %")
                                </th>
                                <th>
                                    @Html.Label("Commission Amount (PKR)")
                                </th>
                                <th>
                                    @Html.Label("FED(%)")
                                </th>
                                <th>
                                    @Html.Label("FED Amount (PKR)")
                                </th>
                                <th>
                                    @Html.Label("SWIFT Charges (PKR)")
                                </th>
                                <th>
                                    @Html.Label("Other Charges (PKR)")
                                </th>
                                <th>
                                    @Html.Label("Remarks")
                                </th>
                                <th>
                                    @Html.Label("Balance BDA")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_EIF_REQUEST_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_ENTRY_DATETIME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_DRI_LC_CONT_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_AMOUNT_FCY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_EXCHANGE_RATE_FCY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_Balance_Amount_FCY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_COMMMISSION_FCY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_COMMISSION_PKR)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_FED_AMOUNT_FCY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_FED_AMOUNT_PKR)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_SWIFT_CHARGES_PKR)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_OTHER_CHARGES_PKR)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_REMARKS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BDA_Balance_Amount_FCY)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="Custom-Table-Head">
                            <tr>
                                <th>
                                    @Html.Label("EIF Number")
                                </th>
                                <th>
                                    @Html.Label("Date of Transaction")
                                </th>
                                <th>
                                    @Html.Label("Bank Ref # (Lc/Contract/Adv/Open Acc)")
                                </th>
                                <th>
                                    @Html.Label("BDA Number")
                                </th>
                                <th>
                                    @Html.Label("Amount (FCY)")
                                </th>
                                <th>
                                    @Html.Label("Exchange Rate")
                                </th>
                                <th>
                                    @Html.Label("Amount (LCY)")
                                </th>
                                <th>
                                    @Html.Label("Commission %")
                                </th>
                                <th>
                                    @Html.Label("Commission Amount (PKR)")
                                </th>
                                <th>
                                    @Html.Label("FED(%)")
                                </th>
                                <th>
                                    @Html.Label("FED Amount (PKR)")
                                </th>
                                <th>
                                    @Html.Label("SWIFT Charges (PKR)")
                                </th>
                                <th>
                                    @Html.Label("Other Charges (PKR)")
                                </th>
                                <th>
                                    @Html.Label("Remarks")
                                </th>
                                <th>
                                    @Html.Label("Balance BDA")
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
        else
        {
            <h2 style="background-color:black; text-align:center">No Data Found</h2>
        }
    }
}
