﻿@model IEnumerable<PSW.Models.PSW_EEF_BCA_REPORT_Result>
@{
    /**/

    ViewBag.Title = "EEF BCA Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "EEF BCA Report";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("EefBCADetail", "MISReports", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card card-default card-outline">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("From Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="FromDate" autocomplete="off" id="FromDate" class="form-control CustomDatePicker" placeholder="Select Start Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("To Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="ToDate" autocomplete="off" id="ToDate" class="form-control CustomDatePicker" placeholder="Select End Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>
                                    @Html.Label("BCA No")
                                </th>
                                <th>
                                    @Html.Label("EIF Request No")
                                </th>
                                <th>
                                    @Html.Label("Unique Bank Ref No")
                                </th>
                                <th>
                                    @Html.Label("BCA Status")
                                </th>
                                <th>
                                    @Html.Label("Event Date")
                                </th>
                                <th>
                                    @Html.Label("Running Serial No")
                                </th>
                                <th>
                                    @Html.Label("SWIFT Reference (Field 20)")
                                </th>
                                <th>
                                    @Html.Label("Bill No")
                                </th>
                                <th>
                                    @Html.Label("Date of Bill")
                                </th>
                                <th>
                                    @Html.Label("Amount of Bill")
                                </th>
                                <th>
                                    @Html.Label("Invoice No")
                                </th>
                                <th>
                                    @Html.Label("Date of Invoice")
                                </th>
                                <th>
                                    @Html.Label("Amount of Invoice")
                                </th>
                                <th>
                                    @Html.Label("Foreign Bank Charges (FCY)")
                                </th>
                                <th>
                                    @Html.Label("Agent / Brokerage Commission (FCY)")
                                </th>
                                <th>
                                    @Html.Label("Witholding Tax (PKR)")
                                </th>
                                <th>
                                    @Html.Label("EDS (PKR)")
                                </th>
                                <th>
                                    @Html.Label("Balancd BCA")
                                </th>
                                <th>
                                    @Html.Label("FCY Exchange rate")
                                </th>
                                <th>
                                    @Html.Label("BCA (PKR)")
                                </th>
                                <th>
                                    @Html.Label("Date of Realization")
                                </th>
                                <th>
                                    @Html.Label("Adjustment from - Special FCY Account (FCY)")
                                </th>
                                <th>
                                    @Html.Label("Currency of Realization is Different from FormE")
                                </th>
                                <th>
                                    @Html.Label("Form E Amount Realized")
                                </th>
                                <th>
                                    @Html.Label("Allowed Discount")
                                </th>
                                <th>
                                    @Html.Label("Allowed Discount (%)")
                                </th>
                                <th>
                                    @Html.Label("Flex Reference")
                                </th>
                                <th>
                                    @Html.Label("Maker Id")
                                </th>
                                <th>
                                    @Html.Label("Authorizer Id")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_BCA_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_FORM_E_NO)
                                    </td>
                                    <td>
                                        @{
                                            if (item.BCAD_BCA_NO != null)
                                            {
                                                PSW.Models.PSWEntities cont = new PSW.Models.PSWEntities();
                                                string UniqueRefNo = cont.PSW_EEF_BCA_LIST.Where(m => m.BCAD_BCA_NO == item.BCAD_BCA_NO).Select(m => m.BCAD_EDS_UNIQUE_BANK_REF_NO).FirstOrDefault();
                                                <p>@UniqueRefNo</p>
                                            }
                                            else
                                            {
                                                <p></p>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_STATUS)
                                    </td>
                                    <td>
                                        @{
                                            if (item.BCAD_EVENT_DATE.ToString().Length <= 10)
                                            {
                                                @Html.DisplayFor(modelItem => item.BCAD_EVENT_DATE)
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.BCAD_EVENT_DATE).ToString().Substring(0, 10)
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_RUNNING_SERIAL_DETAIL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_SWIFT_REFERENCES)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_BILL_NO)
                                    </td>
                                    <td>
                                        @{
                                            if (item.BCAD_BILL_DATE.ToString().Length <= 10)
                                            {
                                                @Html.DisplayFor(modelItem => item.BCAD_BILL_DATE)
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.BCAD_BILL_DATE).ToString().Substring(0, 10)
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_BILL_AMOUNT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_INVOICE_NO)
                                    </td>
                                    <td>
                                        @{
                                            if (item.BCAD_INVOICE_DATE.ToString().Length <= 10)
                                            {
                                                @Html.DisplayFor(modelItem => item.BCAD_INVOICE_DATE)
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.BCAD_INVOICE_DATE).ToString().Substring(0, 10)
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_INVOICE_AMOUNT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_FORIEGN_BANK_CHARGES_FCY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_AGENT_BROKE_COMMISSION_FCY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_WITH_HOLDING_TAX_PKR)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_EDS_PKR)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_BALANCE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_FCY_EXCHANGE_RATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_BCA_PKR)
                                    </td>
                                    <td>
                                        @{
                                            if (item.BCAD_DATE_OF_REALIZED.ToString().Length <= 10)
                                            {
                                                @Html.DisplayFor(modelItem => item.BCAD_DATE_OF_REALIZED)
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.BCAD_DATE_OF_REALIZED).ToString().Substring(0, 10)
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_AFJUSTMENT_FROM_SPECIAL_FCY_AMOUNT)
                                    </td>
                                    <td>
                                        @{
                                            if (item.BCAD_CURR_OF_REALIZATION == true)
                                            {
                                                <label>: Yes</label>
                                            }
                                            else
                                            {
                                                <label>: No</label>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_FORM_AMOUNT_REALIZED)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_ALLOWED_DISCOUNT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_ALLOWED_DISCOUNT_PERCENT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_FLEX_REFERENCE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_MAKER_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCAD_CHECKER_ID)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="Custom-Table-Head">
                            <tr>
                                <th>
                                    @Html.Label("BCA No")
                                </th>
                                <th>
                                    @Html.Label("EIF Request No")
                                </th>
                                <th>
                                    @Html.Label("Unique Bank Ref No")
                                </th>
                                <th>
                                    @Html.Label("BCA Status")
                                </th>
                                <th>
                                    @Html.Label("Event Date")
                                </th>
                                <th>
                                    @Html.Label("Running Serial No")
                                </th>
                                <th>
                                    @Html.Label("SWIFT Reference (Field 20)")
                                </th>
                                <th>
                                    @Html.Label("Bill No")
                                </th>
                                <th>
                                    @Html.Label("Date of Bill")
                                </th>
                                <th>
                                    @Html.Label("Amount of Bill")
                                </th>
                                <th>
                                    @Html.Label("Invoice No")
                                </th>
                                <th>
                                    @Html.Label("Date of Invoice")
                                </th>
                                <th>
                                    @Html.Label("Amount of Invoice")
                                </th>
                                <th>
                                    @Html.Label("Foreign Bank Charges (FCY)")
                                </th>
                                <th>
                                    @Html.Label("Agent / Brokerage Commission (FCY)")
                                </th>
                                <th>
                                    @Html.Label("Witholding Tax (PKR)")
                                </th>
                                <th>
                                    @Html.Label("EDS (PKR)")
                                </th>
                                <th>
                                    @Html.Label("Balancd BCA")
                                </th>
                                <th>
                                    @Html.Label("FCY Exchange rate")
                                </th>
                                <th>
                                    @Html.Label("BCA (PKR)")
                                </th>
                                <th>
                                    @Html.Label("Date of Realization")
                                </th>
                                <th>
                                    @Html.Label("Adjustment from - Special FCY Account (FCY)")
                                </th>
                                <th>
                                    @Html.Label("Currency of Realization is Different from FormE")
                                </th>
                                <th>
                                    @Html.Label("Form E Amount Realized")
                                </th>
                                <th>
                                    @Html.Label("Allowed Discount")
                                </th>
                                <th>
                                    @Html.Label("Allowed Discount (%)")
                                </th>
                                <th>
                                    @Html.Label("Flex Reference")
                                </th>
                                <th>
                                    @Html.Label("Maker Id")
                                </th>
                                <th>
                                    @Html.Label("Authorizer Id")
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
        else
        {
            <h2 class="text-center">No Data Found</h2>
        }
    }
}

