﻿@model IEnumerable<PSW.Models.PSW_EEF_DETAIL_REPORT_Result>
@{
    /**/

    ViewBag.Title = "EEF Deatil Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "EEF Deatil Report";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("EefDetail", "MISReports", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card card-default card-outline">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.Label("From Date")
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="FromDate" autocomplete="off" id="FromDate" class="form-control CustomDatePicker" placeholder="Select Start Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.Label("To Date")
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="ToDate" autocomplete="off" id="ToDate" class="form-control CustomDatePicker" placeholder="Select End Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.Label("Select Payment Mode")
                                </div>
                                <div class="col-md-9">
                                    <select name="FIPaymentMode" id="FIPaymentMode" class="form-control">
                                        <option value="Open Account">Open Account</option>
                                        <option value="Advance Payment">Advance Payment</option>
                                        <option value="With LC">With LC</option>
                                        <option value="Without LC">Without LC</option>
                                        <option value="ALL">ALL</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>
                                    @Html.Label("Details")
                                </th>
                                <th>
                                    @Html.Label("FORM E No")
                                </th>
                                <th>
                                    @Html.Label("EEF Status")
                                </th>
                                <th>
                                    @Html.Label("LC/Contract No")
                                </th>
                                <th>
                                    @Html.Label("Export Payment Mode")
                                </th>
                                <th>
                                    @Html.Label("Bank")
                                </th>
                                <th>
                                    @Html.Label("Trader Name")
                                </th>
                                <th>
                                    @Html.Label("Trader Address")
                                </th>
                                <th>
                                    @Html.Label("Trader NTN")
                                </th>
                                <th>
                                    @Html.Label("Consignee Name")
                                </th>
                                <th>
                                    @Html.Label("Consignee Address")
                                </th>
                                <th>
                                    @Html.Label("Consignee IBAN")
                                </th>
                                <th>
                                    @Html.Label("Consignee Country")
                                </th>
                                <th>
                                    @Html.Label("Port of Discharge")
                                </th>
                                <th>
                                    @Html.Label("Currency")
                                </th>
                                <th>
                                    @Html.Label("Total Value Of Shipment")
                                </th>
                                <th>
                                    @Html.Label("HS Code")
                                </th>
                                <th>
                                    @Html.Label("Item Description")
                                </th>
                                <th>
                                    @Html.Label("Quantity")
                                </th>
                                <th>
                                    @Html.Label("UoM")
                                </th>
                                <th>
                                    @Html.Label("Maker Id")
                                </th>
                                <th>
                                    @Html.Label("Authorizer Id")
                                </th>
                                <th>
                                    @Html.Label("Amendment No")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    <button type="button" value="@item.FDI_FORM_E_NO" name="GetEEFHistory" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-GetEEfHistory">
                                        <span class="fas fa-eye" data-toggle="tooltip" title="View @Html.DisplayFor(modelItem => item.FDI_FORM_E_NO) Detail"></span>
                                    </button>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDI_FORM_E_NO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDI_STATUS)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDI_LC_CONTRACT_NO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.APM_STATUS)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDI_ISSUE_BANK)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.C_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDI_TRADER_ADDRESS)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDI_NTN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDRI_CONSIG_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDRI_CONSID_ADDRESS)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDRI_CONSIGNEE_IBAN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LC_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDRI_PORT_OF_DISCHARGE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CUR_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDRI_TOTAL_VALUE_OF_SHIPMENT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HS_CODE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HS_CODE_DESCRIPTION)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HS_CODE_QUANTITY)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HS_CODE_UOM)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDI_MAKER_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDI_CHECKER_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FDI_AMENDMENT_NO)
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot class="Custom-Table-Head">
                            <tr>
                                <th>
                                    @Html.Label("Details")
                                </th>
                                <th>
                                    @Html.Label("FORM E No")
                                </th>
                                <th>
                                    @Html.Label("EEF Status")
                                </th>
                                <th>
                                    @Html.Label("LC/Contract No")
                                </th>
                                <th>
                                    @Html.Label("Export Payment Mode")
                                </th>
                                <th>
                                    @Html.Label("Bank")
                                </th>
                                <th>
                                    @Html.Label("Trader Name")
                                </th>
                                <th>
                                    @Html.Label("Trader Address")
                                </th>
                                <th>
                                    @Html.Label("Trader NTN")
                                </th>
                                <th>
                                    @Html.Label("Consignee Name")
                                </th>
                                <th>
                                    @Html.Label("Consignee Address")
                                </th>
                                <th>
                                    @Html.Label("Consignee IBAN")
                                </th>
                                <th>
                                    @Html.Label("Consignee Country")
                                </th>
                                <th>
                                    @Html.Label("Port of Discharge")
                                </th>
                                <th>
                                    @Html.Label("Currency")
                                </th>
                                <th>
                                    @Html.Label("Total Value Of Shipment")
                                </th>
                                <th>
                                    @Html.Label("HS Code")
                                </th>
                                <th>
                                    @Html.Label("Item Description")
                                </th>
                                <th>
                                    @Html.Label("Quantity")
                                </th>
                                <th>
                                    @Html.Label("UoM")
                                </th>
                                <th>
                                    @Html.Label("Maker Id")
                                </th>
                                <th>
                                    @Html.Label("Authorizer Id")
                                </th>
                                <th>
                                    @Html.Label("Amendment No")
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
        else
        {
            <h2 style="background-color:black; text-align:center">No Data Found</h2>
        }
    }
}

    <div class="modal fade" id="modal-GetEEfHistory">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">EEF Historic Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body Custom-Table-Head">
                    <div id="ViewSelectedEEFHistory"></div>
                </div>
            </div>
        </div>
    </div>