﻿@model IEnumerable<PSW.Models.PSW_EEF_GD_REPORT_Result>
@{
    ViewBag.Title = "Export Goods Declaration";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Export Goods Declaration";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("ExportGoodsDeclaration", "MISReports", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card card-default card-outline">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("From Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="FromDate" autocomplete="off" id="FromDate" class="form-control CustomDatePicker" placeholder="Select Start Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("To Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="ToDate" autocomplete="off" id="ToDate" class="form-control CustomDatePicker" placeholder="Select End Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>
                                    @Html.Label("GD No")
                                </th>
                                <th>
                                    @Html.Label("GD Date")
                                </th>
                                <th>
                                    @Html.Label("FOB")
                                </th>
                                <th>
                                    @Html.Label("Freight")
                                </th>
                                <th>
                                    @Html.Label("Insurance")
                                </th>
                                <th>
                                    @Html.Label("CFR")
                                </th>
                                <th>
                                    @Html.Label("Invoice Value")
                                </th>
                                <th>
                                    @Html.Label("EGM Collectorate")
                                </th>
                                <th>
                                    @Html.Label("Declarant")
                                </th>
                                <th>
                                    @Html.Label("BL Number")
                                </th>
                                <th>
                                    @Html.Label("Shipment Port")
                                </th>
                                <th>
                                    @Html.Label("Destination Port")
                                </th>
                                <th>
                                    @Html.Label("Shipment Date")
                                </th>
                                <th>
                                    @Html.Label("Importer Name")
                                </th>
                                <th>
                                    @Html.Label("Importer NTN")
                                </th>
                                <th>
                                    @Html.Label("Importer Address")
                                </th>
                                <th>
                                    @Html.Label("Exporter Name")
                                </th>
                                <th>
                                    @Html.Label("Exporter Address")
                                </th>
                                <th>
                                    @Html.Label("Exporter Country")
                                </th>
                                <th>
                                    @Html.Label("S No")
                                </th>
                                <th>
                                    @Html.Label("HS Code")
                                </th>
                                <th>
                                    @Html.Label("Item Description")
                                </th>
                                <th>
                                    @Html.Label("Quantity")
                                </th>
                                <th>
                                    @Html.Label("Unit Price")
                                </th>
                                <th>
                                    @Html.Label("UoM")
                                </th>
                                <th>
                                    @Html.Label("Total Value")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                PSW.Models.PSWEntities cont = new PSW.Models.PSWEntities();
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_GD_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_ENTRY_DATETIME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_FOBVALUE_USD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_FREIGHT_USD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_INSURANCE_USD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_CFR_VALUE_USD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_TOTAL_DECLARED_VALUE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_COLLECTORATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_DECLARATION_TYPE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDI_BL_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDI_PORT_OF_SHIPMENT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_PORT_OF_DISCHARGE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_INVOICE_DATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDIE_CONSIGNOR_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDIE_NTN_FTN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDIE_CONSIGNOR_ADDRESS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDIE_CONSIGNEE_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDIE_CONSIGNEE_ADDRESS)
                                    </td>
                                    <td>
                                        @* Importer Country which is null *@
                                        <p></p>
                                    </td>
                                    <td>
                                        <p>1</p>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HS_CODE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HS_CODE_DESCRIPTION)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HS_CODE_QUANTITY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HS_CODE_UNIT_PRICE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HS_CODE_UOM)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_TOTAL_DECLARED_VALUE)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <h2 style="background-color:black; text-align:center"></h2>
        }
    }
}
