﻿@model PSW.Models.PSW_MESSAGES

<div class="card" id="custom-modal-style">
    <div class="card-body">
        @Html.Label("Request :")
        <div class="form-group">
            <p>@Html.DisplayFor(modelItem => modelItem.data)</p>
        </div>
    </div>
</div>
