﻿@model PSW.Models.SBPReportingFI_GD
@{
    ViewBag.Title = "SBP Reports";
    ViewBag.Controller = "Home";
    ViewBag.Action = "SBP Reports";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("SBPReport", "MISReports", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card card-default card-outline">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                @Html.Label("From Date")
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="FromDate" autocomplete="off" id="FromDate" class="form-control CustomDatePicker" placeholder="Select Start Date" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                @Html.Label("To Date")
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="ToDate" autocomplete="off" id="ToDate" class="form-control CustomDatePicker" placeholder="Select End Date" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                @Html.Label("FI/GD No")
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="FINO" autocomplete="off" id="FINO" class="form-control" placeholder="Enter FI/GD Number" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                @Html.Label("FI Type")
                            </div>
                            <div class="col-md-10">
                                <select name="FIType" id="FIType" class="form-control">
                                    <option value="Import">Import</option>
                                    <option value="Export">Export</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("FI/GD")
                                </div>
                                <div class="col-md-10">
                                    <select name="FI_GD" id="FI_GD" class="form-control">
                                        <option value="FI">FI</option>
                                        <option value="GD">GD</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@{
    if (Model != null)
    {
        if (Model.FI_IMPORT != null && Model.FI_IMPORT.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>
                                    @Html.Label("FI Number")
                                </th>
                                <th>
                                    @Html.Label("FI Date")
                                </th>
                                <th>
                                    @Html.Label("Generate PDF")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FI_IMPORT)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BI_EIF_REQUEST_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIF_BI_ENTRY_DATETIME)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("ExportSBPReports", "MISReports", new { FI_GD_NO = item.EIF_BI_EIF_REQUEST_NO, REQUEST_TYPE = "Import", FI_GD = "FI" })"
                                           data-toggle="tooltip" title="Download  @Html.DisplayFor(modelItem => item.EIF_BI_EIF_REQUEST_NO)" class="btn btn-outline-danger">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else if (Model.GD_IMPORT != null && Model.GD_IMPORT.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>
                                    @Html.Label("GD Number")
                                </th>
                                <th>
                                    @Html.Label("GD Date")
                                </th>
                                <th>
                                    @Html.Label("Generate PDF")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GD_IMPORT)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIGDGI_GD_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EIGDGI_ENTRY_DATETIME)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("ExportSBPReports", "MISReports", new { FI_GD_NO = item.EIGDGI_GD_NO, REQUEST_TYPE = "Import", FI_GD = "GD" })"
                                           data-toggle="tooltip" title="Download  @Html.DisplayFor(modelItem => item.EIGDGI_GD_NO)" class="btn btn-outline-danger">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else if (Model.FI_EXPORT != null && Model.FI_EXPORT.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>
                                    @Html.Label("FI Number")
                                </th>
                                <th>
                                    @Html.Label("FI Date")
                                </th>
                                <th>
                                    @Html.Label("Generate PDF")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FI_EXPORT)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FDI_FORM_E_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FDI_ENTRY_DATETIME)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("ExportSBPReports", "MISReports", new { FI_GD_NO = item.FDI_FORM_E_NO, REQUEST_TYPE = "Export", FI_GD = "FI" })"
                                           data-toggle="tooltip" title="Download  @Html.DisplayFor(modelItem => item.FDI_FORM_E_NO)" class="btn btn-outline-danger">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else if (Model.GD_EXPORT != null && Model.GD_EXPORT.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>
                                    @Html.Label("GD Number")
                                </th>
                                <th>
                                    @Html.Label("GD Date")
                                </th>
                                <th>
                                    @Html.Label("Generate PDF")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GD_EXPORT)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_GD_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EFGDGI_ENTRY_DATETIME)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("ExportSBPReports", "MISReports", new { FI_GD_NO = item.EFGDGI_GD_NO, REQUEST_TYPE = "Export", FI_GD = "GD" })"
                                           data-toggle="tooltip" title="Download  @Html.DisplayFor(modelItem => item.EFGDGI_GD_NO)" class="btn btn-outline-danger">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}
