﻿@model PSW.Models.PSW_ASSIGN_PROFILE_TYPE_TO_CLIENT
@{
    /**/

    ViewBag.Title = "Profile Type";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Profile Type";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
<a href="@Url.Action("Index","ClientInfo")" class="btn btn-outline-primary"><span class="fas fa-undo"></span> Back</a>
<hr />
@using (Html.BeginForm("AssignProfileType", "ClientInfo", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.APT_ID)
    @Html.HiddenFor(m => m.APT_CLIENT_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Assign Profile Type</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Profile Type")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.APT_PROFILE_ID, null, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.APT_PROFILE_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Status")
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.DropDownListFor(model => model.APT_STATUS, new List<SelectListItem>
                                { new SelectListItem{Text="Active", Value="true"},
                                new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.APT_STATUS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
    <div>
        @{
            Html.RenderAction("AssignProfileTypeList", "ClientInfo", new { C = Model.APT_CLIENT_ID });
        }
    </div>
}