﻿@model PSW.Models.ClientFilter
@{
    ViewBag.Title = "Client Info";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Client Info";

    PSW.Models.PSWEntities context = new PSW.Models.PSWEntities();
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("Index", "ClientInfo", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entity.C_ID)
    @Html.HiddenFor(m => m.Entity.C_AMENDMENT_NO)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Manage Client Information</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Client Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Account Status")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Entity.C_ACCOUNT_STATUS_ID, new SelectList(context.PSW_ACCOUNT_STATUS.Where(m => m.AS_ISAUTH == true).ToList(), "AS_ID", "AS_STATUS_NAME"), "-- Select Account Status--", new { @class = "form-control select2 select2-primary" })
                            @*@Html.DropDownListFor(model => model.Entity.C_ACCOUNT_STATUS_ID, null, new { @class = "form-control select2 select2-primary" })*@
                            @Html.ValidationMessageFor(model => model.Entity.C_ACCOUNT_STATUS_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Account Type")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Entity.C_ACCOUNT_TYPE_ID, new SelectList(context.PSW_ACCOUNT_TYPE.Where(m => m.AT_ISAUTH == true).ToList(), "AT_ID", "AT_STATUS_NAME"), "-- Select Account Type--", new { @class = "form-control select2 select2-primary" })
                            @*@Html.DropDownListFor(model => model.Entity.C_ACCOUNT_TYPE_ID, null, new { @class = "form-control select2 select2-primary" })*@
                            @Html.ValidationMessageFor(model => model.Entity.C_ACCOUNT_TYPE_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Client Account Number")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_BANK_ACCOUNT_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bank Account Number" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_BANK_ACCOUNT_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Client NTN Number")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_NTN_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter NTN Number" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_NTN_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Client IBAN Number")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_IBAN_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter IBAN Number" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_IBAN_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Client Email Address")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_EMAIL_ADDRESS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Address" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_EMAIL_ADDRESS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Client Mobile Number")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_MOBILE_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile Number" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_MOBILE_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Status")
                        <div class="col-md-10">
                            <div class="dropdown">
                                @Html.DropDownListFor(model => model.Entity.C_STATUS, new List<SelectListItem>
                                { new SelectListItem{Text="Active", Value="true"},
                                 new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.Entity.C_STATUS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Balance")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_ACCOUNT_BALANCE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Account Balance" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_ACCOUNT_BALANCE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("STRN")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_STRN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter STRN" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_STRN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Contract Rate %")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_CONTRACT_COMMISION, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contract Commision %" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_CONTRACT_COMMISION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("LC Commision")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_LC_COMMISIOIN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter LC Commision %" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_LC_COMMISIOIN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Export Commision %")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_EXPORT_COMMISION, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Export Commision %" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_EXPORT_COMMISION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Branch")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_BRANCH, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter BRANCH" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_BRANCH, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("FED Rate %")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.C_FED_RATE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter FED Rate %" } })
                            @Html.ValidationMessageFor(model => model.Entity.C_FED_RATE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Client Notification Email")
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Entity.C_TO_CLIENT_EMAIL, new { @class = "form-control", @rows = "5", @placeholder = "Enter Client Notification Email" })
                            @Html.ValidationMessageFor(model => model.Entity.C_TO_CLIENT_EMAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Client Address")
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Entity.C_ADDRESS, new { @class = "form-control", @rows = "5", @placeholder = "Enter Client Address" })
                            @Html.ValidationMessageFor(model => model.Entity.C_ADDRESS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            @{
                if (Model != null)
                {
                    if (Model.Entity != null)
                    {
                        if (Model.Entity.C_ISAUTH == false && Model.Entity.C_MAKER_ID != "Admin123")
                        {
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="button" value="Pending for Authorization" class="btn btn-outline-warning" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-outline-primary" />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Upload Bulk Client </h3>
        <div class="card-tools">

            @using (Html.BeginForm("BulkClientPortfolio", "ClientInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input class="btn btn-outline-success" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required name="postedFile" />

                <input class="btn btn-outline-success" type="submit" value="Bulk Upload" />
            }
        </div>
    </div>
</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Clients List</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    @using (Html.BeginForm("IndexFilter", "ClientInfo", FormMethod.Post))
    {
        <div class="card card-default card-outline">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        @Html.Label("From Date")
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select From Date" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        @Html.Label("To Date")
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select To Date" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- /.card-header -->
    <div class="card-body" id="ClientList">
        @{
            if (Model != null)
            {
                if (Model.FromDate != null && Model.ToDate != null)
                {
                    Html.RenderAction("Client_Grid_View", "ClientInfo", new { FromDate = Model.FromDate, ToDate = Model.ToDate });
                }
                else
                {
                    Html.RenderAction("Client_Grid_View", "ClientInfo");
                }
            }
            else
            {
                Html.RenderAction("Client_Grid_View", "ClientInfo");
            }
        }
    </div>
</div>

