﻿@model IEnumerable<PSW.Models.PSW_NEGATIVE_LIST_OF_COMMODITIES_VIEW>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Commodities List</h3>
                <div class="card-tools">
                    @{
                        if (Model.Any(m => m.NLCOM_IS_SHARED == false))
                        {
                            using (Html.BeginForm("ShareUpdatedInfo", "ClientInfo", FormMethod.Post))
                            {
                                <input type="password" hidden id="cid" name="cid" value="1" />
                                <input type="password" hidden id="mid" name="mid" value="1555" />
                                <input class="btn btn-outline-success" type="submit" value="Share Data With SBP" />
                            }
                        }
                    }
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered text-center table-hover">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>Commodity</th>
                            <th>Profile Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.NLCOM_IS_SHARED == false)
                            {
                                <tr class="Negative-List-Background-Color" >
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LCOM_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.P_NAME)
                                    </td>
                                    <td>
                                        @if (item.NLCOM_STATUS == true)
                                        {
                                            <p class="text-success">Active</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">Deactive</p>
                                        }
                                    </td>
                                    <td>
                                        @{
                                            if (item.NLCOM_ISAUTH == true)
                                            {
                                                <a href="@Url.Action("NegativeListOfCommodities","ClientInfo", new { I = item.NLCOM_ID })" class="btn btn-outline-primary">Edit</a>
                                            }
                                            if (item.NLCOM_ISAUTH == false && item.NLCOM_MAKER_ID != Session["USER_ID"].ToString())
                                            {
                                                <button type="button" value="@item.NLCOM_ID" name="AuthorizeNegativeListOfCommodities" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.LCOM_NAME)" class="btn btn-outline-success">
                                                    <span class="fas fa-check"></span>
                                                </button>
                                                <button type="button" value="@item.NLCOM_ID" name="RejectAuthorizeNegativeListOfCommodities" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.LCOM_NAME)" class="btn btn-outline-danger">
                                                    <span class="fas fa-times"></span>
                                                </button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LCOM_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.P_NAME)
                                    </td>
                                    <td>
                                        @if (item.NLCOM_STATUS == true)
                                        {
                                            <p class="text-success">Active</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">Deactive</p>
                                        }
                                    </td>
                                    <td>
                                        @{
                                            if (item.NLCOM_ISAUTH == true)
                                            {
                                                <a href="@Url.Action("NegativeListOfCommodities","ClientInfo", new { I = item.NLCOM_ID })" class="btn btn-outline-info">Edit</a>
                                            }
                                            if (item.NLCOM_ISAUTH == false && item.NLCOM_MAKER_ID != Session["USER_ID"].ToString())
                                            {
                                                <button type="button" value="@item.NLCOM_ID" name="AuthorizeNegativeListOfCommodities" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.LCOM_NAME)" class="btn btn-outline-success">
                                                    <span class="fas fa-check"></span>
                                                </button>
                                                <button type="button" value="@item.NLCOM_ID" name="RejectAuthorizeNegativeListOfCommodities" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.LCOM_NAME)" class="btn btn-outline-danger">
                                                    <span class="fas fa-times"></span>
                                                </button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
