﻿@model PSW.Models.NegativeSuppliersFilter
@{
    ViewBag.Title = "Manage Suppliers";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Manage Suppliers";

    PSW.Models.PSWEntities context = new PSW.Models.PSWEntities();
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("NegativeListOfSuppliers", "ClientInfo", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entity.NLOS_ID);
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Manage Suppliers</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Suppliers")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Entity.NLOS_LOS_ID, new SelectList(context.PSW_LIST_OF_SUPPLIERS.Where(m => m.LOS_STATUS == true && m.LOS_ISAUTH == true).ToList(), "LOS_ID", "LOS_NAME"), "--Select Supplier--", new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.Entity.NLOS_LOS_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Profile Type")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Entity.NLOS_PROFILE_TYPE, new SelectList(context.PSW_TYPE_OF_PROFILE.ToList(), "P_ID", "P_NAME", 0), "--Select Profile Type--", new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.Entity.NLOS_PROFILE_TYPE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Status")
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.DropDownListFor(model => model.Entity.NLOS_STATUS, new List<SelectListItem>
                                { new SelectListItem{Text="Active", Value="true"},
                                new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.Entity.NLOS_STATUS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("NegativeListOfSuppliersFilter", "ClientInfo", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Filter Data</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.Label("From Date")
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select From Date" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.Label("To Date")
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select To Date" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>
    @{
        Html.RenderAction("NegativeListOfSuppliersList", "ClientInfo");
    }
</div>
