﻿@model PSW.Models.ITRS_A404_FILTER
@{
    ViewBag.Title = "ITRS A404";
    ViewBag.Controller = "Home";
    ViewBag.Action = "ITRS A404";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("A404", "ITRSSetup", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entity.IA_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">ITRS A404</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Serial No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IA_SERIAL_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Serial No" } })
                            @Html.ValidationMessageFor(model => model.Entity.IA_SERIAL_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("AD")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IA_AD, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter AD" } })
                            @Html.ValidationMessageFor(model => model.Entity.IA_AD, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Currency")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IA_CURRENCY, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Currency" } })
                            @Html.ValidationMessageFor(model => model.Entity.IA_CURRENCY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Date of Utilized")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IA_DATE_OF_UTILIZED, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @placeholder = "Select Date of Utilized" } })
                            @Html.ValidationMessageFor(model => model.Entity.IA_DATE_OF_UTILIZED, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("E Form No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IA_EFORM_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter E-Form No" } })
                            @Html.ValidationMessageFor(model => model.Entity.IA_EFORM_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("APV No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IA_APV_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter APV No" } })
                            @Html.ValidationMessageFor(model => model.Entity.IA_APV_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Amount Utilized in APV(A2/O2) Currency")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IA_AMOUNT_UTLIZED, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Amount Utilized in APV(A2/O2) Currency" } })
                            @Html.ValidationMessageFor(model => model.Entity.IA_AMOUNT_UTLIZED, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Reference of SBP's Approval")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IA_RERERENCE_OF_SBP_APPROVAL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Reference of SBP's Approval" } })
                            @Html.ValidationMessageFor(model => model.Entity.IA_RERERENCE_OF_SBP_APPROVAL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("SBP's Approval Date")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IA_SBP_APPROVAL_DATE, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @placeholder = "Select SBP's Approval Date" } })
                            @Html.ValidationMessageFor(model => model.Entity.IA_SBP_APPROVAL_DATE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Commodity")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IA_COMMODITY, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Commodity" } })
                            @Html.ValidationMessageFor(model => model.Entity.IA_COMMODITY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Upload Month")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IA_UPLOAD_MONTH, new { htmlAttributes = new { @class = "form-control", @placeholder = "Upload Month" } })
                            @Html.ValidationMessageFor(model => model.Entity.IA_UPLOAD_MONTH, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Upload Bulk A404</h3>
        <div class="card-tools">
            @using (Html.BeginForm("BulkA404", "ITRSSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input class="btn btn-outline-success" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required name="PostedFile" />

                <input class="btn btn-outline-success" type="submit" value="Bulk Upload" />
            }
        </div>
    </div>
</div>

@using (Html.BeginForm("A404Filter", "ITRSSetup", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Filter Data</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("From Date")
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select From Date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("To Date")
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select To Date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            </div>
            @{
                Html.RenderAction("A404View", "ITRSSetup");
            }
        </div>
    </div>
                }
