﻿@model IEnumerable<PSW.Models.PSW_ITRS_BALANCES>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Month</th>
                    <th>Currency</th>
                    <th>AD</th>
                    <th>Statement</th>
                    <th>Opening Balance of S-1 (Dr)</th>
                    <th>Opening Balance of S-1 (Cr)</th>
                    <th>Closing Balance of S-1 (Dr)</th>
                    <th>Closing Balance of S-1 (Cr)</th>
                    <th>Opening Balance of S-4 (Dr)</th>
                    <th>Opening Balance of S-4 (Cr)</th>
                    <th>Closing Balance of S-4 (Dr)</th>
                    <th>Closing Balance of S-4 (Cr)</th>
                    <th>Opening Balance of S-6</th>
                    <th>Closing Balance of S-6</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_UPLOAD_MONTH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_CURRENCY)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_AD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_STATEMENT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_OPENING_BALANCE_OF_S1_DR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_OPENING_BALANCE_OF_S1_CR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_CLOSING_BALANCE_OF_S1_DR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_CLOSING_BALANCE_OF_S1_CR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_OPENING_BALANCE_OF_S4_DR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_OPENING_BALANCE_OF_S4_CR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_CLOSING_BALANCE_OF_S4_DR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_CLOSING_BALANCE_OF_S4_CR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_OPENING_BALANCE_OF_S6)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IB_CLOSING_BALANCE_OF_S6)
                        </td>
                        <td>
                            @{
                                if (item.IB_ISAUTH == true)
                                {
                                    <a href="@Url.Action("Balances", "ITRSSetup", new { C = item.IB_ID })" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.IB_MAKER_ID != Session["USER_ID"].ToString() && item.IB_ISAUTH == false)
                                {
                                    <button type="button" value="@item.IB_ID" name="AuthorizeBalances" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.IB_STATEMENT)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.IB_ID" name="RejectBalances" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.IB_STATEMENT)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
                                    }
                                }
