﻿@model IEnumerable<PSW.Models.PSW_ITRS_BENEFICIARY_REQUESTING_BANK>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Bank Code</th>
                    <th>Bank Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BRB_BANK_CODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BRB_BANK_NAME)
                        </td>
                        <td>
                            @if (item.BRB_STATUS == true)
                            {
                                <p class="text-success">Active</p>
                            }
                            else
                            {
                                <p class="text-danger">Deactive</p>
                            }
                        </td>
                        <td>
                            @{
                                if (item.BRB_ISAUTH == true)
                                {
                                    <a href="@Url.Action("BeneRequestingBank", "ITRSSetup", new { C = item.BRB_ID })" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.BRB_MAKER_ID != Session["USER_ID"].ToString() && item.BRB_ISAUTH == false)
                                {
                                    <button type="button" value="@item.BRB_ID" name="AuthorizeBeneRequestingBank" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.BRB_BANK_NAME)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.BRB_ID" name="RejectBeneRequestingBank" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.BRB_BANK_NAME)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
