﻿@model IEnumerable<PSW.Models.PSW_ITRS_COUNTRY>

@if (Model != null)
{
    if (Model.Count() > 0)
    {

        <div class="row" id="AlthorizedAllITRSCountry">
            <div class="col-md-9"></div>
            <div class="col-md-3 float-right">
                <div class="row">
                    <h4>Authorized All | &nbsp;</h4>
                    <button type="button" name="AuthorizeBullkITRSCountry" data-toggle="tooltip" title="Authorize All" class="btn btn-outline-success">
                        <span class="fas fa-check"></span>
                    </button>
                </div>
            </div>
        </div>

        <br />

        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Country Id</th>
                    <th>Country Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CUN_COUNTRY_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CUN_COUNTRY_NAME)
                        </td>
                        <td>
                            @if (item.CUN_STATUS == true)
                            {
                                <p class="text-success">Active</p>
                            }
                            else
                            {
                                <p class="text-danger">Deactive</p>
                            }
                        </td>
                        <td>
                            @{
                                if (item.CUN_ISAUTH == true)
                                {
                                    <a href="@Url.Action("Country", "ITRSSetup", new { C = item.CUN_ID })" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.CUN_MAKER_ID != Session["USER_ID"].ToString() && item.CUN_ISAUTH == false)
                                {
                                    <button type="button" value="@item.CUN_ID" name="AuthorizeITRSCountry" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.CUN_COUNTRY_NAME)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.CUN_ID" name="RejectITRSCountry" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.CUN_COUNTRY_NAME)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
