﻿@model IEnumerable<PSW.Models.PSW_ITRS_INCOTERM>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Incoterm Name</th>
                    <th>Code</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ICT_INCOTERM_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ICT_INCOTERM_CODE)
                        </td>
                        <td>
                            @if (item.ICT_STATUS == true)
                            {
                                <p class="text-success">Active</p>
                            }
                            else
                            {
                                <p class="text-danger">Deactive</p>
                            }
                        </td>
                        <td>
                            @{
                                if (item.ICT_ISAUTH == true)
                                {
                                    <a href="@Url.Action("Incoterm", "ITRSSetup", new { C = item.ICT_ID })" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.ICT_MAKER_ID != Session["USER_ID"].ToString() && item.ICT_ISAUTH == false)
                                {
                                    <button type="button" value="@item.ICT_ID" name="AuthorizeIncoterm" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.ICT_INCOTERM_NAME)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.ICT_ID" name="RejectIncoterm" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.ICT_INCOTERM_NAME)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
