﻿@model IEnumerable<PSW.Models.PSW_ITRS_RELATIONSHIP_WITH_BENEFICIARY>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="row" id="AlthorizedAllITRSRelationWithBene">
            <div class="col-md-9"></div>
            <div class="col-md-3 float-right">
                <div class="row">
                    <h4>Authorized All | &nbsp;</h4>
                    <button type="button" name="AuthorizeBullkITRSRelationWithBene" data-toggle="tooltip" title="Authorize All" class="btn btn-outline-success">
                        <span class="fas fa-check"></span>
                    </button>
                </div>
            </div>
        </div>

        <br />

        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Relation Code</th>
                    <th>Relation Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RWB_BANK_CODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RWB_BANK_NAME)
                        </td>
                        <td>
                            @if (item.RWB_STATUS == true)
                            {
                                <p class="text-success">Active</p>
                            }
                            else
                            {
                                <p class="text-danger">Deactive</p>
                            }
                        </td>
                        <td>
                            @{
                                if (item.RWB_ISAUTH == true)
                                {
                                    <a href="@Url.Action("RelationWithBene", "ITRSSetup", new { C = item.RWB_ID })" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.RWB_MAKER_ID != Session["USER_ID"].ToString() && item.RWB_ISAUTH == false)
                                {
                                    <button type="button" value="@item.RWB_ID" name="AuthorizeRelationWithBene" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.RWB_BANK_NAME)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.RWB_ID" name="RejectRelationWithBene" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.RWB_BANK_NAME)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
