﻿@model IEnumerable<PSW.Models.PSW_ITRS_SALES_TERM>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Sales Term</th>
                    <th>Code</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IST_SALES_TERM_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IST_SALES_TERM_CODE)
                        </td>
                        <td>
                            @if (item.IST_STATUS == true)
                            {
                                <p class="text-success">Active</p>
                            }
                            else
                            {
                                <p class="text-danger">Deactive</p>
                            }
                        </td>
                        <td>
                            @{
                                if (item.IST_ISAUTH == true)
                                {
                                    <a href="@Url.Action("SalesTerm", "ITRSSetup", new { C = item.IST_ID })" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.IST_MAKER_ID != Session["USER_ID"].ToString() && item.IST_ISAUTH == false)
                                {
                                    <button type="button" value="@item.IST_ID" name="AuthorizeSalesTerm" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.IST_SALES_TERM_NAME)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.IST_ID" name="RejectSalesTerm" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.IST_SALES_TERM_NAME)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
