﻿@model PSW.Models.ITRS_SALES_TERM_FILTER
@{
    ViewBag.Title = "ITRS Sales Term";
    ViewBag.Controller = "Home";
    ViewBag.Action = "ITRS Sales Term";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("SalesTerm", "ITRSSetup", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entity.IST_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">ITRS Sales Term</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Sales Term")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IST_SALES_TERM_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Sales Term" } })
                            @Html.ValidationMessageFor(model => model.Entity.IST_SALES_TERM_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Code")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IST_SALES_TERM_CODE, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "Enter Code" } })
                            @Html.ValidationMessageFor(model => model.Entity.IST_SALES_TERM_CODE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Select Status")
                        <div class="col-md-10">
                            <div class="dropdown">
                                @Html.DropDownListFor(model => model.Entity.IST_STATUS, new List<SelectListItem>
                                { new SelectListItem{Text="Active", Value="true"},
                                 new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.Entity.IST_STATUS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Upload Bulk Sales Term</h3>
        <div class="card-tools">
            @using (Html.BeginForm("BulkSalesTerm", "ITRSSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input class="btn btn-outline-success" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required name="PostedFile" />

                <input class="btn btn-outline-success" type="submit" value="Bulk Upload" />
            }
        </div>
    </div>
</div>

@using (Html.BeginForm("SalesTermFilter", "ITRSSetup", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Filter Data</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("From Date")
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select From Date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("To Date")
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select To Date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            </div>
            @{
                Html.RenderAction("SalesTermView", "ITRSSetup");
            }
        </div>
    </div>
}

