﻿@model IEnumerable<PSW.Models.PSW_ITRS_USD_RATE>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Date</th>
                    <th>Rate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IUR_TODAY_DATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IUR_RATE)
                        </td>
                        <td>
                            @{
                                if (item.IUR_ISAUTH == true)
                                {
                                    <a href="@Url.Action("USDRate", "ITRSSetup", new { C = item.IUR_ID })" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.IUR_MAKER_ID != Session["USER_ID"].ToString() && item.IUR_ISAUTH == false)
                                {
                                    <button type="button" value="@item.IUR_ID" name="AuthorizeUSDRate" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.IUR_RATE)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.IUR_ID" name="RejectUSDRate" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.IUR_RATE)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
                                    }
                                }
