﻿@model IEnumerable<PSW.Models.PSW_CHANGE_OF_BANK_REQUEST>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>@Html.Label("Unique No")</th>
                    <th>@Html.Label("Trans Type")</th>
                    <th>@Html.Label("IBAN")</th>
                    <th>@Html.Label("Request No")</th>
                    <th>@Html.Label("Status")</th>
                    <th>@Html.Label("Action")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.COB_UNIQUE_NO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.COB_TRANS_TYPE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.COB_IBAN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.COB_REQUEST_NO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.COB_STATUS)
                        </td>
                        <td>
                            <a href="@Url.Action("Index", "BankToBankTranfer", new { C = item.COB_ID })" class="btn btn-outline-info" data-toggle="tooltip" title="@item.COB_REQUEST_NO">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}