﻿@model PSW.Models.PSW_BANK_TO_BANK_TRANSFER
@{
    ViewBag.Title = "Bank Transfer";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Bank Transfer";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fa fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("UpdateStatus", "BankToBankTranfer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.BTBT_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Bank To Bank Transfer</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Request No")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.BTBT_REQUEST_NO, null, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.BTBT_REQUEST_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Bank")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.BTBT_BANK, null, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.BTBT_BANK, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("City")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.BTBT_CITY, null, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.BTBT_CITY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Branch")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BTBT_BRANCH, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Branch" } })
                            @Html.ValidationMessageFor(model => model.BTBT_BRANCH, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.Label("Reamrks")
                        <div class="col-md-11">
                            @Html.TextAreaFor(model => model.BTBT_REMARKS, new { @class = "form-control", @rows = "5", @placeholder = "Enter Remarks" })
                            @Html.ValidationMessageFor(model => model.BTBT_REMARKS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}
<div>
    @{
        Html.RenderAction("UpdateStatusList", "BankToBankTranfer");
    }
</div>
