﻿@model IEnumerable<PSW.Models.PSW_BANK_TO_BANK_TRANSFER_VIEW>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Bank To Bank Transfer List</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered text-center table-hover">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>Request No</th>
                            <th>Bank</th>
                            <th>City</th>
                            <th>Branch</th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EIF_BI_EIF_REQUEST_NO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LB_BANK_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LOCT_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BTBT_BRANCH)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BTBT_REMARKS)
                                </td>
                                <td>
                                    <a href="@Url.Action("UpdateStatus", "BankToBankTranfer", new { B = item.BTBT_ID })" class="btn btn-outline-info">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}