﻿@model PSW.Models.ITRS_AC700_Filter
@{
    ViewBag.Title = "AC700";
    ViewBag.Controller = "Home";
    ViewBag.Action = "AC700";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Upload AC700</h3>
        <div class="card-tools">
            @using (Html.BeginForm("BulkAC700", "ITRS", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input class="btn btn-outline-success" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required name="PostedFile" />

                <input class="btn btn-outline-success" type="submit" value="Upload" />
            }
        </div>
    </div>
</div>

@using (Html.BeginForm("ItrsACFilter", "ITRS", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Filter Data</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("From Date")
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select From Date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("To Date")
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select To Date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            </div>
            @{
                Html.RenderAction("ItrsACView", "ITRS");
            }
        </div>
    </div>
}