﻿@model IEnumerable<PSW.Models.PSW_ROLE_WITH_FUNCTIONS_VIEW>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">List Of Group Role</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.Case Form Start -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Role Name</th>
                                <th>Function Name</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.R_NAME)</td>
                                    <td>@Html.DisplayFor(modelItem => item.F_NAME)</td>
                                    <td>
                                        @if (item.AF_STATUS == true)
                                        {
                                            <p class="text-success">Active</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">Deactive</p>
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("AssignFunctions","GroupRole", new { I = item.AF_ID,R= item.AF_ROLE_ID})" class="btn btn-outline-info">Edit</a>
                                     </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}
