﻿@model IEnumerable<PSW.Models.PSW_ROLE_WITH_FUNCTIONS_LIST_VIEW>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <table id="example1" class="table table-bordered text-center table-hover">
                <thead class="Custom-Table-Head">
                    <tr>
                        <th>Role Name</th>
                        <th>Role Description</th>
                        <th>Assign Roles</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.R_NAME)</td>
                            @{
                                var Description = HttpUtility.HtmlEncode(item.R_DESCRIPTION);
                                <td>@Html.DisplayFor(modelItem => Description)</td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.ASSIGNED_FUNCTION)</td>
                            <td>
                                @{
                                    if (item.R_ISAUTH == true)
                                    {
                                        <a href="@Url.Action("Index","GroupRole", new { R = item.R_ID})" class="btn btn-outline-info">Edit</a>
                                    }
                                    if (item.R_ISAUTH == false && item.R_MAKER_ID != Session["USER_ID"].ToString())
                                    {
                                        <button type="button" value="@item.R_ID" name="AuthorizeGroupRole" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.R_NAME)" class="btn btn-outline-success">
                                            <span class="fas fa-check"></span>
                                        </button>
                                        <button type="button" value="@item.R_ID" name="RejectAuthorizeGroupRole" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.R_NAME)" class="btn btn-outline-danger">
                                            <span class="fas fa-times"></span>
                                        </button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}