﻿@model PSW.Models.AssignFunctions_Custom

@{
    ViewBag.Title = "Group Role";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Group Role";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}

@using (Html.BeginForm("Index", "GroupRole", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entity.R_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Manage Group Role</h3>
            <div class="card-tools">
                <a href="@Url.Action("Index", "GroupRole")" class="btn btn-outline-success"><i class="fas fa-plus"></i> Add New</a>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Role Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.R_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Role Name" } })
                            @Html.ValidationMessageFor(model => model.Entity.R_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Function Name")
                        <div class="col-md-10">
                            @Html.ListBoxFor(model => model.SelectedFunctions, Model.FunctionsList, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.SelectedFunctions, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Role Status")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Entity.R_STATUS, new List<SelectListItem>
                            { new SelectListItem{Text="Active", Value="true"},
                            new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.Entity.R_STATUS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Role Description")
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Entity.R_DESCRIPTION, new { @class = "form-control", @rows = "8", @placeholder = "Enter Role Description" })
                            @Html.ValidationMessageFor(model => model.Entity.R_DESCRIPTION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Group List</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            @{
                Html.RenderAction("Grid_View", "GroupRole");
            }
        </div>
    </div>