﻿@{ 
    ViewBag.Title = "BCA Realization";
    ViewBag.Controller = "Home";
    ViewBag.Action = "BCA Realization";

}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">GD Information</h3>
        <div class="card-tools">
            @*<a href="#" class="btn btn-outline-success"><span class="fa fa-file-excel"></span> Bulk Upload</a>*@
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Running Serial No:</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Running Serial No:</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>GD Number</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-10">
                    <div class="col-md-10">
                        <label>Export Value in(PKR)</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>NTN</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>STRN</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>BL Number</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Date of Shipment</label>
                        <input type="date" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Export Value in(US $)</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>GD Currency</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Term of Shipment</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-10">
                                <label>Total Amount Realized(US $)</label>
                                <input type="text" name="name" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-10">
                                <label>Balance Amount(US $)</label>
                                <input type="tel" name="name" value="" class="form-control float-right" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Attached Form-E Information</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="container">
            <table id="example2" class="table table-hover">
                <thead class="Custom-Table-Head">
                    <tr>
                        <th>Form E-Number</th>
                        <th>Date</th>
                        <th>Form E Amount</th>
                        <th>Bank</th>
                        <th>City Name</th>
                        <th>Branch</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CBN-2017-0000000173</td>
                        <td>20-11-2017</td>
                        <td>US $ 20334.2500</td>
                        <td>Citi Bank NA</td>
                        <td>Karachi</td>
                        <td>AWT Plaza Main Branch</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>BCA Event Name</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">--Please Select--</option>
                            <option>Alaska</option>
                            <option>California</option>
                            <option>Delaware</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option>Washington</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Date of Shipment</label>
                        <input type="date" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <a style="margin-top:30px" href="#" class="btn btn-outline-success">Upload Attachment</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Date of Shipment</label>
                        <textarea id="w3review" name="w3review" rows="4" cols="50" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-default" style="margin-top:30px">
                    <div class="card-header">
                        <h3 class="card-title">View Attached Image(s):</h3>
                        <div class="card-tools">
                        </div>
                    </div>
                    <!-- /.Case Form Start -->
                    <div class="card-body">
                        No Uploaded Image(s) found
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">BCA Details :</h3>
        <div class="card-tools">
            @*<a href="#" class="btn btn-outline-success"><span class="fa fa-file-excel"></span> Bulk Upload</a>*@
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Running Serial No:</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Running Serial No:</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Bill No:</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Date:</label>
                        <input type="date" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Amount:</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Invoice No:</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Date:</label>
                        <input type="date" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Amount:</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <label style="color:blue"><u>Deductions :</u></label>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Foriegn Bank Charger(FCY)</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Agent Bookerage Comission(FCY)</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Withholding Tax(PKR)</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>EDS (PKR)</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <label style="color:blue"><u>Not Amount Realized :</u></label>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>BCA (FC)</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>FCY Exchange Rate</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>BCA (PKR)</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Date Of Realized</label>
                        <input type="date" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Adjustment Form-Special FCY Amount(FCY)</label>
                        <input type="text" name="name" value="" class="form-control" />
                        <input type="checkbox" name="name" value="" /> Currency of Realization is Different from FormE :
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Select Currency</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">--Select Currency--</option>
                            <option>PKR</option>
                            <option>$</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <a href="#" class="btn btn-outline-primary" style="width:100px;">Add</a>
    </div>
</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">BCA Realization :</h3>
        <div class="card-tools">
            @*<a href="#" class="btn btn-outline-success"><span class="fa fa-file-excel"></span> Bulk Upload</a>*@
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.Case Form Start -->
    <div class="card-body">
        <div>
            <input type="checkbox" name="name" value="" /> Full Amount is not realized against this Export and the remaining amount is settled with discount
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Form Amount Realized:</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Balance:</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Allowed Discount:</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Allowed Discount %:</label>
                        <input type="text" name="name" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <div>
            <input type="checkbox" name="name" value="" /> Certified that i have entered the correct Maximum Rate of commission etc above as provided in Chapter VII Of Foriegn Exchange of Manual issued by State Bank of Pakistan and other relevant raw rules etc
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Remark:</label>
                    <div class="col-md-12">
                        <textarea class="form-control" name="w3review" rows="4" cols="50"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-outline-primary" style="width:100px;">Save</a>
        <a href="#" class="btn btn-outline-primary" style="width:100px;">Subbmit</a>
        <a href="#" class="btn btn-outline-primary" style="width:100px;">Cancel</a>
    </div>
</div>