﻿@model PSW.Models.PSW_EEF_GD_GENERAL_INFO
@{
    Layout = null;
    ViewBag.Title = "EEF GD General Information";
    ViewBag.Controller = "Home";
    ViewBag.Action = "EEF GD General Information";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("EEFGDGeneralInfo", "EEFRequest", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EFGDGI_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">EEF GD General Information</h3>
            <div class="card-tools">
                @*<a href="#" class="btn btn-outline-success"><span class="fa fa-file-excel"></span> Bulk Upload</a>*@
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Agent Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_AGENT_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Agent Name" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_AGENT_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Agent License No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_AGENT_LICENSE_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Agent License No" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_AGENT_LICENSE_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Trade Type")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_TRADE_TYPE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Trade Type" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_TRADE_TYPE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Declaration Type")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_DECLARATION_TYPE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Declaration Type" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_DECLARATION_TYPE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("GD No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_GD_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter GD No" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_GD_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Consignment Category")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_CONSIGNMENT_CATE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Consignment Category" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_CONSIGNMENT_CATE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Collectorate")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_COLLECTORATE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Collectorate" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_COLLECTORATE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("GD Type")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_GD_TYPE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter GD Type" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_GD_TYPE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Destination Country")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_DESTINATION_COUNTRY, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Destination Country" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_DESTINATION_COUNTRY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Port of Discharge")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_PORT_OF_DISCHARGE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Port of Discharge" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_PORT_OF_DISCHARGE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Place of Delivery")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_PLACE_OF_DELIVERY, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Place of Delivery" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_PLACE_OF_DELIVERY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("General Description")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_GENERAL_DESCRIPTION, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter General Description" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_GENERAL_DESCRIPTION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Shed / Terminal Location")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_SHED_TERMINAL_LOCATION, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Shed / Terminal Location" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_SHED_TERMINAL_LOCATION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("1st Examination")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDGI_1ST_EXAMINATION, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter 1st Examination" } })
                            @Html.ValidationMessageFor(model => model.EFGDGI_1ST_EXAMINATION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}
<div>
    @{
        Html.RenderAction("EEFGDGeneralInfoList", "EEFRequest");
    }
</div>

