﻿@model PSW.Models.PSW_EEF_GD_IMPORT_EXPORT_INFO
@{
    Layout = null;
    ViewBag.Title = "EEF GD Import/Export";
    ViewBag.Controller = "Home";
    ViewBag.Action = "EEF GD Import/Export";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("EEFGDImportExportInfo", "EEFRequest", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EFGDIE_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">EEF GD Import/Export</h3>
            <div class="card-tools">
                @*<a href="#" class="btn btn-outline-success"><span class="fa fa-file-excel"></span> Bulk Upload</a>*@
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("NTN / FTN")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDIE_NTN_FTN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter NTN / FTN" } })
                            @Html.ValidationMessageFor(model => model.EFGDIE_NTN_FTN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("STRN")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDIE_STRN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter STRN" } })
                            @Html.ValidationMessageFor(model => model.EFGDIE_STRN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Consignee Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDIE_CONSIGNEE_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Consignee Name" } })
                            @Html.ValidationMessageFor(model => model.EFGDIE_CONSIGNEE_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Consignee Address")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDIE_CONSIGNEE_ADDRESS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Consignee Address" } })
                            @Html.ValidationMessageFor(model => model.EFGDIE_CONSIGNEE_ADDRESS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Consignor Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDIE_CONSIGNOR_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Consignor Name" } })
                            @Html.ValidationMessageFor(model => model.EFGDIE_CONSIGNOR_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Consignor Address")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EFGDIE_CONSIGNOR_ADDRESS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Consignor Address" } })
                            @Html.ValidationMessageFor(model => model.EFGDIE_CONSIGNOR_ADDRESS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}
<div>
    @{
        Html.RenderAction("EEFGDImportExportInfoList", "EEFRequest");
    }
</div>

