﻿@model IEnumerable<PSW.Models.PSW_EEF_HS_CODE>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <table id="EEFHsCodes" class="table table-bordered text-center table-hover">
                <thead class="Custom-Table-Head">
                    <tr>
                        <th class="display-none">ID</th>
                        <th>Declared Description</th>
                        <th>HS CODE</th>
                        <th>Quantity</th>
                        <th>UOM</th>
                        <th>Origin</th>
                        <th>Invoice Value</th>
                        <th>Item Invoice Value</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="display-none">
                                    @(item.EEF_HC_ID)
                                </td>
                                <td>
                                    @(item.EEF_HC_DESCRIPTION)
                                </td>
                                <td>
                                    @(item.EEF_HC_CODE)
                                </td>
                                <td>
                                    @(item.EEF_HC_QUANTITY)
                                </td>
                                <td>
                                    @(item.EEF_HC_UOM)
                                </td>
                                <td>
                                    @(item.EEF_HC_ORGIN)
                                </td>
                                <td>
                                    @(item.EEF_HC_INVOICE_VALUE)
                                </td>
                                <td>
                                    @(item.EEF_HC_AMOUNT_AGAINST_HS_CODE)
                                </td>
                                <td>
                                    <button type="button" value="Remove" class="btn btn-danger waves-effect" name="RemoveHsCodeEEF">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
}