﻿@model IEnumerable<PSW.Models.PSW_EXPORT_CONSIGNEE_LIST>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Export Consignee List</h3>
                <div class="card-tools">
                    @{
                        if (Model.Any(m => m.ECL_IS_SHARED == false))
                        {
                            foreach (var items in Model.Take(1))
                            {
                                using (Html.BeginForm("ShareExportConsignee", "EEFRequest", FormMethod.Post))
                                {
                                    <input type="password" hidden id="FiNumber" name="FiNumber" value="@items.ECL_FI_NUMBER" />
                                    <input class="btn btn-outline-success" type="submit" value="Share Data With SBP" />
                                }
                            }
                        }
                    }
                    <button type="button" class="btn btn-tool" data-card-wi dget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered text-center table-hover">
                    <thead class="Custom-Table-Head">
                        <tr>
                            <th>FI Number</th>
                            <th>Consignee Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.ECL_IS_SHARED == false)
                            {
                                <tr class="Negative-List-Background-Color">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ECL_FI_NUMBER)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ECL_CONSIGNEE_NAME)
                                    </td>
                                    <td>
                                        @{
                                            if (item.ECL_ISAUTH == true)
                                            {
                                                <a href="@Url.Action("ExportConsignee", "EEFRequest", new { E = item.ECL_ID })" class="btn btn-outline-primary">Edit</a>
                                            }
                                            if (item.ECL_ISAUTH == false && item.ECL_MAKER_ID != Session["USER_ID"].ToString())
                                            {
                                                <button type="button" value="@item.ECL_ID" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.ECL_CONSIGNEE_NAME)" class="AuthorizeExportConsignee btn btn-outline-success">
                                                    <span class="fas fa-check"></span>
                                                </button>
                                                <button type="button" value="@item.ECL_ID" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.ECL_CONSIGNEE_NAME)" class="RejectExportConsignee btn btn-outline-danger">
                                                    <span class="fas fa-times"></span>
                                                </button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ECL_FI_NUMBER)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ECL_CONSIGNEE_NAME)
                                    </td>
                                    <td>
                                        @{
                                            if (item.ECL_ISAUTH == true)
                                            {
                                                <a href="@Url.Action("ExportConsignee", "EEFRequest", new { E = item.ECL_ID })" class="btn btn-outline-info">Edit</a>
                                            }
                                            if (item.ECL_ISAUTH == false && item.ECL_MAKER_ID != Session["USER_ID"].ToString())
                                            {
                                                <button type="button" value="@item.ECL_ID" name="AuthorizeExportConsignee" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.ECL_CONSIGNEE_NAME)" class="btn btn-outline-success">
                                                    <span class="fas fa-check"></span>
                                                </button>
                                                <button type="button" value="@item.ECL_ID" name="RejectExportConsignee" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.ECL_CONSIGNEE_NAME)" class="btn btn-outline-danger">
                                                    <span class="fas fa-times"></span>
                                                </button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
