﻿@model PSW.Models.GD_Export
@{
    <div class="card card-primary card-outline ">
        <div class="card-header">
            <h3 class="card-title">GD Information</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- /.Case Form Start -->
            @{
                if (Model != null && Model.GD_Information != null)
                {
                    <div class="row">
                        <div class="col-md-2">
                            <label>EGM Collectorate:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_EGM_COLLECTORATE)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Section 79/2:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_SECTION)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>EGM Number:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_EGM_NUMBER)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Index No:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_INDEX_NO)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Exporter Name:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_EGM_EXPORTER_NAME)</label>
                        </div>
                        <div class="col-md-2">
                            <label>BL/AWB No. & Date:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_BL_NO) | @Html.DisplayFor(model => model.GD_Information.EFGDI_BL_DATE)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Vessel Name:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_VESSEL_NAME)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Port Of Shipment:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_PORT_OF_SHIPMENT)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Gross Weight:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_GROSS_WEIGHT)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Net Weight:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_NET_WEIGHT)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Consignment Type:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_COSIGNMENT_TYPE)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Shipping Line:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_SHIPPING_LINE)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-2">
                            <label>Berthing Terminal:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GD_Information.EFGDI_BERTHING_TERMINAL)</label>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="card card-primary card-outline ">
        <div class="card-header">
            <h3 class="card-title">Importer/Exporter Information</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- /.Case Form Start -->
            @{
                if (Model != null && Model.IE_Info != null)
                {
                    <div class="row">
                        <div class="col-md-2">
                            <label>NTN/FTN:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.IE_Info.EFGDIE_NTN_FTN)</label>
                        </div>
                        <div class="col-md-2">
                            <label>STRN:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.IE_Info.EFGDIE_STRN)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Consignee Name:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.IE_Info.EFGDIE_CONSIGNEE_NAME)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Consignee Address:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.IE_Info.EFGDIE_CONSIGNEE_ADDRESS)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Consignor Name:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.IE_Info.EFGDIE_CONSIGNOR_NAME)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Consignor Address:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.IE_Info.EFGDIE_CONSIGNOR_ADDRESS)</label>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="card card-primary card-outline ">
        <div class="card-header">
            <h3 class="card-title">General Information</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- /.Case Form Start -->
            @{
                if (Model != null && Model.GeneralInfo != null)
                {
                    <div class="row">
                        <div class="col-md-2">
                            <label>Form E No:</label>
                        </div>
                        <div class="col-md-4">
                            @{
                                if (Model.AssignFormE != null)
                                {
                                    if (Model.AssignFormE.Count() > 0)
                                    {
                                        string FORM_EInfo = "";
                                        foreach (var item in Model.AssignFormE)
                                        {
                                            FORM_EInfo += "FI : ( " + item.GDAEF_E_FORM + " <br> Consumed : " + item.GDAEF_VALUE_CONSUMED + " )" + "<br>";
                                        }
                                        <label>@Html.Raw(FORM_EInfo)</label>
                                    }
                                }
                            }
                        </div>
                        <div class="col-md-2">
                            <label>Currency:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_CURRENCY)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Agent Name:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_AGENT_NAME)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Agent License No:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_AGENT_LICENSE_NO)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Trade Type:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_TRADE_TYPE)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Declaration Type:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_DECLARATION_TYPE)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>GD No:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_GD_NO)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Consignment Category:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_CONSIGNMENT_CATE)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Collectorate:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_COLLECTORATE)</label>
                        </div>
                        <div class="col-md-2">
                            <label>GD Type:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_GD_TYPE)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Destination Country:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_DESTINATION_COUNTRY)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Port Of Discharge:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_PORT_OF_DISCHARGE)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Place of Delivery:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_PLACE_OF_DELIVERY)</label>
                        </div>
                        <div class="col-md-2">
                            <label>General Description:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_GENERAL_DESCRIPTION)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Shed/Terminal Location:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_SHED_TERMINAL_LOCATION)</label>
                        </div>
                        <div class="col-md-2">
                            <label>1st Examination:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_1ST_EXAMINATION)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Negative Country:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_NEG_COUNTRY)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Negative Supplier:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_NEG_SUPPLIER)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Negative Commodity</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_NEG_COMMS)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Mode of Payment:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_MODE_OF_PAYMENT)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>VIR AIR No:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_VIR_AIR_NUMBER)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Invoice Number:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_INVOICE_NUMBER)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Invoice Date:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_INVOICE_DATE)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Total Declared Value:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_TOTAL_DECLARED_VALUE)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Delivery Term:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_DELIVERY_TERM)</label>
                        </div>
                        <div class="col-md-2">
                            <label>FOB Value(USD):</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_FOBVALUE_USD)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Freight Value(USD):</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_FREIGHT_USD)</label>
                        </div>
                        <div class="col-md-2">
                            <label>CRF Value(USD):</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_CFR_VALUE_USD)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Insurance Value(USD):</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_INSURANCE_USD)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Landing Charges:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_LANDING_CHARGES_USD)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Assessed Value(USD):</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_ASSESSED_VALUE_USD)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Other Charges:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_OTHER_CHARGES)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Exchange Rate:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_EXCHANGE_RATE)</label>
                        </div>
                        <div class="col-md-2">
                            <label>Clearance Date:</label>
                        </div>
                        <div class="col-md-4">
                            <label>@Html.DisplayFor(model => model.GeneralInfo.EFGDGI_CLEARANCE_DATE)</label>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    if (Model != null && Model.Package_Info != null)
    {
        if (Model.Hs_Code.Count() > 0)
        {
            <div class="card card-primary card-outline ">
                <div class="card-header">
                    <h3 class="card-title">Packages Information</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.Case Form Start -->
                <div class="card-body">
                    <table class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>No Of Packages</th>
                                <th>Packages Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Package_Info)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EPI_NO_OF_PACKAGE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EPI_PACKAGE_TYPE)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }


    if (Model != null && Model.Container_Info != null)
    {
        if (Model.Hs_Code.Count() > 0)
        {
            <div class="card card-primary card-outline ">
                <div class="card-header">
                    <h3 class="card-title">Container Information</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.Case Form Start -->
                <div class="card-body">
                    <table class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Container Truck No</th>
                                <th>Serial Number</th>
                                <th>Container Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Container_Info)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CIE_CONTAINER_OR_TRUCK_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CIE_SERIAL_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CIE_CONTAINER_TYPE)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
    if (Model != null && Model.Hs_Code != null)
    {
        if (Model.Hs_Code.Count() > 0)
        {
            <div class="card card-primary card-outline ">
                <div class="card-header">
                    <h3 class="card-title">Item Information</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.Case Form Start -->
                <div class="card-body">
                    <table class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>Hs Code</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Invoice Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Hs_Code)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EHC_HS_CODE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EHC_QUANTITY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EHC_UNIT_PRICE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EHC_TOTAL_VALUE)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}
