﻿@model IEnumerable<PSW.Models.PSW_EEF_GD_GENERAL_INFO_LIST>


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Select GD</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table id="LoadUnpinnedGds" class="table table-bordered text-center table-hover">
                <thead class="Custom-Table-Head">
                    <tr>
                        <th>
                            Select
                        </th>
                        <th>
                            GD No
                        </th>
                        <th>
                            Agent Name
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <button type="button" class="btn btn-outline-success" id="SetEEFGDNumber" value="@item.EFGDGI_GD_NO">
                                    <span class="fas fa-check"></span>
                                </button>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EFGDGI_GD_NO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EFGDGI_AGENT_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EFGDGI_GD_STATUS)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
