﻿@model PSW.Models.EEF

@{
    ViewBag.Title = "Manage EEF";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Manage EEF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    PSW.Models.PSWEntities context = new PSW.Models.PSWEntities();
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}

@using (Html.BeginForm("ManageEEF", "EEFRequest", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.DocInfo.FDI_ID)
    @Html.HiddenFor(m => m.DocRequestNo.FDRI_ID)
    @Html.HiddenFor(m => m.DocInfo.FDI_AMENDMENT_NO)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">EEF Document Information</h3>
            <div class="card-tools">
                @*<a href="#" class="btn btn-outline-success"><span class="fas fa-file-excel"></span> Bulk Upload</a>*@
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Form-E No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocInfo.FDI_FORM_E_NO, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.DocInfo.FDI_FORM_E_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Internal Ref No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocInfo.FDI_INTERNAL_REF, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.DocInfo.FDI_INTERNAL_REF, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Trader Name")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.DocInfo.FDI_TRADER_NAME, Model.ListCustomers, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.DocInfo.FDI_TRADER_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Mode of Export Payment")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.DocInfo.FDI_MODE_OF_EXPORT_PAYMENT, Model.AuthPayModes, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.DocInfo.FDI_MODE_OF_EXPORT_PAYMENT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Trader Address")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocInfo.FDI_TRADER_ADDRESS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Trader Address", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.DocInfo.FDI_TRADER_ADDRESS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("NTN")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocInfo.FDI_NTN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter NTN", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.DocInfo.FDI_NTN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Issuing of Bank")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocInfo.FDI_ISSUE_BANK, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Issuing of Bank" } })
                            @Html.ValidationMessageFor(model => model.DocInfo.FDI_ISSUE_BANK, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Place of Issue")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocInfo.FDI_PHASE_OF_ISSUE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Place of Issue" } })
                            @Html.ValidationMessageFor(model => model.DocInfo.FDI_PHASE_OF_ISSUE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.DocInfo.FDI_CERTIFIED, null)
                                @Html.Label("Is Certified")
                                @Html.ValidationMessageFor(model => model.DocInfo.FDI_CERTIFIED, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.DocInfo.FDI_DOC_SUBMISSION, null)
                                @Html.Label("Documents submitted")
                                @Html.ValidationMessageFor(model => model.DocInfo.FDI_DOC_SUBMISSION, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Status")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocInfo.FDI_STATUS, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.DocInfo.FDI_STATUS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("EForm Date")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocInfo.FDI_STATUS_DATE, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @placeholder = "Select EForm Date" } })
                            @Html.ValidationMessageFor(model => model.DocInfo.FDI_STATUS_DATE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("LC/Contract No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocInfo.FDI_LC_CONTRACT_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter LC/Contract No" } })
                            @Html.ValidationMessageFor(model => model.DocInfo.FDI_LC_CONTRACT_NO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            @Html.Label("Payment Mode Detailed Parameters")
            <hr />
            <div class="display-none" id="payparamifOA305">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("GD Select GD Number")
                            <div class="row">
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PayParam.EIF_PMP_GD_NO, new { htmlAttributes = new { @type = "search", @class = "form-control", @placeholder = "Select GD Number", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.PayParam.EIF_PMP_GD_NO, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2">
                                    <button type="button" id="target-modal-GDs" class="btn btn-outline-success" data-toggle="modal" data-target="#modal-GDs">
                                        <span class="fas fa-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modal-GDs">
                        <!-- /.modal-dialog -->
                        @{
                            Html.RenderAction("LoadUnpinnedGds", "EEFRequest");
                        }
                    </div>
                </div>
            </div>
            <div class="display-none" id="payparamifCont308">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Document Against Payment D/P % ")
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PayParam.EIF_PMP_DOCUMENT_AGAINST_PAYPERCENT, new { htmlAttributes = new { @type = "tel", @onKeyDown = "if(this.value.length==3 && event.keyCode!=8) return false;", @class = "form-control", @placeholder = "Enter %" } })
                                @Html.ValidationMessageFor(model => model.PayParam.EIF_PMP_DOCUMENT_AGAINST_PAYPERCENT, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Document Against Acceptance D/A %")
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PayParam.EIF_PMP_DOCUMENT_AGAINST_ACCEPT_PERCENT, new { htmlAttributes = new { @type = "tel", @onKeyDown = "if(this.value.length==3 && event.keyCode!=8) return false;", @class = "form-control", @placeholder = "Enter %" } })
                                @Html.ValidationMessageFor(model => model.PayParam.EIF_PMP_DOCUMENT_AGAINST_ACCEPT_PERCENT, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="display-none" id="payparamifLC307">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Sight % ")
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PayParam.EIF_PMP_SIGHT_PERCENT, new { htmlAttributes = new { @type = "tel", @onKeyDown = "if(this.value.length==3 && event.keyCode!=8) return false;", @class = "form-control", @placeholder = "Enter Sight %" } })
                                @Html.ValidationMessageFor(model => model.PayParam.EIF_PMP_SIGHT_PERCENT, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Usance % ")
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PayParam.EIF_PMP_USANCE_PERCENT, new { htmlAttributes = new { @type = "tel", @onKeyDown = "if(this.value.length==3 && event.keyCode!=8) return false;", @class = "form-control", @placeholder = "Enter Usance %" } })
                                @Html.ValidationMessageFor(model => model.PayParam.EIF_PMP_USANCE_PERCENT, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="display-none" id="payparamcommisionChargesExport">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Commision Charges")
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PayParam.EIF_PMP_COMMISION_CHARGES, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @onkeypress = "return DecimalsOnly(event)" } })
                                @Html.ValidationMessageFor(model => model.PayParam.EIF_PMP_COMMISION_CHARGES, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("FED Charges")
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PayParam.EIF_PMP_FED_CHARGES, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @onkeypress = "return DecimalsOnly(event)" } })
                                @Html.ValidationMessageFor(model => model.PayParam.EIF_PMP_FED_CHARGES, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="display-none" id="payparamDays">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Advance Payment %")
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PayParam.EIF_PMP_ADV_PAYPERCENT, new { htmlAttributes = new { @type = "tel", @onKeyDown = "if(this.value.length==3 && event.keyCode!=8) return false;", @class = "form-control", @placeholder = "Enter %" } })
                                @Html.ValidationMessageFor(model => model.PayParam.EIF_PMP_ADV_PAYPERCENT, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Days ")
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PayParam.EIF_PMP_DAYS, new { htmlAttributes = new { @type = "tel", @onKeyDown = "if(this.value.length==3 && event.keyCode!=8) return false;", @class = "form-control", @placeholder = "Enter Days" } })
                                @Html.ValidationMessageFor(model => model.PayParam.EIF_PMP_DAYS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Total Percentage %")
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PayParam.EIF_PMP_PERCENTAGE, new { htmlAttributes = new { @type = "tel", @onKeyDown = "if(this.value.length==3 && event.keyCode!=8) return false;", @class = "form-control", @placeholder = "Enter Total %" } })
                                @Html.ValidationMessageFor(model => model.PayParam.EIF_PMP_PERCENTAGE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">EEF Document Request Info</h3>
            <div class="card-tools">
                @*<a href="#" class="btn btn-outline-success"><span class="fas fa-file-excel"></span> Bulk Upload</a>*@
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Consignee Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocRequestNo.FDRI_CONSIG_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Consignee Name" } })
                            @Html.ValidationMessageFor(model => model.DocRequestNo.FDRI_CONSIG_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Consignee IBAN")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocRequestNo.FDRI_CONSIGNEE_IBAN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Consignee IBAN" } })
                            @Html.ValidationMessageFor(model => model.DocRequestNo.FDRI_CONSIGNEE_IBAN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Consignee Address")
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.DocRequestNo.FDRI_CONSID_ADDRESS, new { @class = "form-control", @rows = "4", @placeholder = "Enter Consignee Address" })
                            @Html.ValidationMessageFor(model => model.DocRequestNo.FDRI_CONSID_ADDRESS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Country")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.DocRequestNo.FDRI_COUNTRY, new SelectList(context.PSW_LIST_OF_COUNTRIES.Where(m => m.LC_ISAUTH == true && m.LC_STATUS == true).ToList(), "LC_ID", "LC_NAME", Model.DocRequestNo.FDRI_COUNTRY), "-- Select Country--", new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.DocRequestNo.FDRI_COUNTRY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Port Of Discharge")
                        <div class="row">
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.DocRequestNo.FDRI_PORT_OF_DISCHARGE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Port Code" } })
                                @Html.ValidationMessageFor(model => model.DocRequestNo.FDRI_PORT_OF_DISCHARGE, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <input type="text" readonly name="PortDischarge" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Currency")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.DocRequestNo.FDRI_CURRENCY, new SelectList(context.PSW_CURRENCY.Where(m => m.CUR_STATUS == true).ToList(), "CUR_ID", "CUR_NAME", Model.DocRequestNo.FDRI_CURRENCY), "-- Select Currency--", new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.DocRequestNo.FDRI_CURRENCY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Delivery Terms")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.DocRequestNo.FDRI_DELIVERY_TERMS, new SelectList(context.PSW_DELIVERY_TERMS.Where(m => m.DT_ISAUTH == true).ToList(), "DT_ID", "DT_DESCRIPTION", Model.DocRequestNo.FDRI_DELIVERY_TERMS), "-- Select Delivery Term--", new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.DocRequestNo.FDRI_DELIVERY_TERMS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Total Value of Shipment")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocRequestNo.FDRI_TOTAL_VALUE_OF_SHIPMENT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Total Value of Shipment", @onkeypress = "return DecimalsOnly(event)", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.DocRequestNo.FDRI_TOTAL_VALUE_OF_SHIPMENT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="text-danger req-font-size">* </span>@Html.Label("Expiry Date")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocRequestNo.FDRI_FINAN_EXPIRY, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @placeholder = "Select Expiry Date" } })
                            @Html.ValidationMessageFor(model => model.DocRequestNo.FDRI_FINAN_EXPIRY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
        </div>
    </div>

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Goods Declaration</h3>
            <div class="card-tools">
                @if (ViewBag.InitiateNewEEF == "Edit")
                {
                    <label id="GetPreviousEefHsCode" value="Get" hidden title="Get Previous Hs Codes" data-toggle="tooltip" class="btn btn-outline-primary"> <i class="fas fa-undo"></i> Get Previous </label>
                }
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label><span class="text-danger req-font-size">*</span>HS CODE</label>
                    <input type="text" id="searchHsCodeEEF" class="form-control text-box single-line" />
                </div>
                <div class="col-md-2">
                    <label><span class="text-danger req-font-size">*</span>DESCRIPTION</label>
                    <textarea id="searchDescriptionEEF" rows="3" class="form-control"></textarea>
                </div>
                <div class="col-md-2">
                    <label><span class="text-danger req-font-size">*</span>QTY</label>
                    <input type="text" id="searchQtyEEF" class="form-control text-box single-line" />
                </div>
                <div class="col-md-2">
                    <label><span class="text-danger req-font-size">*</span>UOM</label>
                    @Html.DropDownListFor(model => model.searchUOMEEF, new SelectList(context.PSW_UNIT_OF_MEASUREMENT.Where(m => m.UOM_ISAUTH == true && m.UOM_STATUS == true).Select(f => new { f.UOM_CODE, LC_NAME = f.UOM_CODE + " -- " + f.UOM_DESCRIPTION }).ToList(), "UOM_CODE", "UOM_CODE", Model.searchUOMEEF), "Select UOM", new { @class = "form-control select2 select2-primary" })
                    @*<input type="text" id="searchUOMEEF" class="form-control text-box single-line" />*@
                </div>
                <div class="col-md-2">
                    <label><span class="text-danger req-font-size">*</span>ORIGIN</label>
                    @Html.DropDownListFor(model => model.searchOriginEEF, new SelectList(context.PSW_LIST_OF_COUNTRIES.Where(m => m.LC_ISAUTH == true && m.LC_STATUS == true).Select(f => new { f.LC_CODE, LC_NAME = f.LC_CODE + " -- " + f.LC_NAME }).ToList(), "LC_CODE", "LC_NAME", Model.searchOriginEEF), "-- Select Origin --", new { @class = "form-control select2 select2-primary" })
                </div>
                <div class="col-md-2">
                    <label><span class="text-danger req-font-size">*</span>INVOICE VALUE</label>
                    <input type="text" value="0.00" id="searchInvoiceValueEEF" class="form-control single-line" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <label><span class="text-danger req-font-size">*</span>ITEM INVOICE VALUE</label>
                    <input type="text" id="searchAmountAgainstHSCodeEEF" class="form-control text-box single-line" />
                </div>
                <div class="col-md-2">
                    <label><span class="text-danger req-font-size"> </span>ACTION</label>
                    <button type="button" id="AddHsCodeEEF" value="Add" class="btn btn-outline-success"> <span class="fas fa-plus-circle"></span> </button>
                </div>
                <div class="col-md-4"></div>
            </div>
            <hr />
            <div id="HsGoodsDetailsEEF">
                @{
                    Html.RenderAction("EEFHSCodeList", "EEFRequest", new { H = Model.DocInfo.FDI_FORM_E_NO });
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" id="SubmitEEF" value="Submit" class="btn btn-outline-success"> <i class="fas fa-plus-square"></i> SUBMIT </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>

}