﻿@model IEnumerable<PSW.Models.PSW_ACCOUNT_STATUS>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
<table id="example1" class="table table-bordered text-center table-hover">
    <thead class="Custom-Table-Head">
        <tr>
            <th>Code</th>
            <th>Status</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AS_CODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AS_STATUS_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AS_DESCRIPTION)
                </td>
                <td>
                    @{
                        if (item.AS_ISAUTH == true)
                        {
                            <a href="@Url.Action("AccountStatus", "Setup", new { S = item.AS_ID })" class="btn btn-outline-primary">Edit</a>
                        }
                        if (item.AS_MAKER_ID != Session["USER_ID"].ToString() && item.AS_ISAUTH == false)
                        {
                            <button type="button" value="@item.AS_ID" name="AuthorizeAccountStatus" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.AS_STATUS_NAME)" class="btn btn-outline-success">
                                <span class="fas fa-check"></span>
                            </button>
                            <button type="button" value="@item.AS_ID" name="RejectAuthorizeAccountStatus" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.AS_STATUS_NAME)" class="btn btn-outline-danger">
                                <span class="fas fa-times"></span>
                            </button>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
    }
}
