﻿@model IEnumerable<PSW.Models.PSW_ACCOUNT_TYPE>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
<table id="example1" class="table table-bordered text-center table-hover">
    <thead class="Custom-Table-Head">
        <tr>
            <th>Code</th>
            <th>Status Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AT_CODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AT_STATUS_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AT_DESCRIPTION)
                </td>
                <td>
                    @{
                        if (item.AT_ISAUTH == true)
                        {
                            <a href="@Url.Action("AccountType", "Setup", new { A = item.AT_ID })" class="btn btn-outline-primary">Edit</a>
                        }
                        if (item.AT_ISAUTH == false && item.AT_MAKER_ID != Session["USER_ID"].ToString())
                        {
                            <button type="button" value="@item.AT_ID" name="AuthorizeAccountType" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.AT_STATUS_NAME)" class="btn btn-outline-success">
                                <span class="fas fa-check"></span>
                            </button>
                            <button type="button" value="@item.AT_ID" name="RejectAuthorizeAccountType" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.AT_STATUS_NAME)" class="btn btn-outline-danger">
                                <span class="fas fa-times"></span>
                            </button>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
    }
}