﻿@model IEnumerable<PSW.Models.PSW_CASH_MARGIN_HS_CODES_VIEW>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>HS4</th>
                    <th>HS8</th>
                    <th>Commodity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CM_HS4)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CM_HS8)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LCOM_NAME)
                        </td>
                        <td>
                            @{
                                if (item.CM_ISAUTH == true)
                                {
                                    <a href="@Url.Action("CashMargin", "Setup", new { C = item.CM_ID })" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.CM_ISAUTH == false && item.CM_MAKER_ID != Session["USER_ID"].ToString())
                                {
                                    <button type="button" value="@item.CM_ID" name="AuthorizeCashMargin" data-toggle="tooltip" title="Edit @Html.DisplayFor(modelItem => item.CM_HS4)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.CM_ID" name="RejectAuthorizeCashMargin" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.CM_HS4)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
