﻿@model PSW.Models.ManageDeliveryTermFilter
@{
    ViewBag.Title = "Manage Delivery Terms";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Manage Delivery Terms";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("DeliveryTerm", "Setup", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entity.DT_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Manage Delivery Terms</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Code")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.DT_CODE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Code" } })
                            @Html.ValidationMessageFor(model => model.Entity.DT_CODE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Description")
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Entity.DT_DESCRIPTION, new { @class = "form-control", @rows = "8", @placeholder = "Enter Description" })
                            @Html.ValidationMessageFor(model => model.Entity.DT_DESCRIPTION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("DeliveryTermFilter", "Setup", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Filter Data</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("From Date")
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select From Date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("To Date")
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select To Date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            </div>
            @{
                Html.RenderAction("DeliveryTermView", "Setup");
            }
        </div>
    </div>
}