﻿@model PSW.Models.ManageEmailSetupFilter
@{
    ViewBag.Title = "Email Setup";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Email Setup";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("EmailSetup", "Setup", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entity.EC_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Manage Email Setup</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Server Host")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.EC_SEREVER_HOST, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Server Host" } })
                            @Html.ValidationMessageFor(model => model.Entity.EC_SEREVER_HOST, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Credential ID")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.EC_CREDENTIAL_ID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Credential ID" } })
                            @Html.ValidationMessageFor(model => model.Entity.EC_CREDENTIAL_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Port")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.EC_EMAIL_PORT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Port" } })
                            @Html.ValidationMessageFor(model => model.Entity.EC_EMAIL_PORT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("CC Email")
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Entity.EC_CC_EMAIL, new { @class = "form-control", @placeholder = "Enter CC Emails", @rows = "5" })
                            @Html.ValidationMessageFor(model => model.Entity.EC_CC_EMAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("EmailSetupFilter", "Setup", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Filter Data</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("From Date")
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select From Date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("To Date")
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select To Date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            </div>
            @{
                Html.RenderAction("ManageEmailSetupList", "Setup");
            }
        </div>
    </div>
}