﻿@model PSW.Models.ManageImportPolicyFilter
@{
    ViewBag.Title = "Import Policy";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Import Policy";

    PSW.Models.PSWEntities context = new PSW.Models.PSWEntities();
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("ImportPolicy", "Setup", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entity.IP_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Import Policy</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("PCT Code")
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Entity.IP_PCT_CODE, new SelectList(context.PSW_LIST_OF_COMMODITIES.Where(m => m.LCOM_ISAUTH == true && m.LCOM_STATUS == true).Select(f => new
                       {f.LCOM_CODE,LCOM_DCODE = f.LCOM_CODE + " -- " + f.LCOM_NAME}).ToList(), "LCOM_CODE", "LCOM_DCODE", 0),"--Select CODE--", new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.Entity.IP_PCT_CODE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Conditions")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.IP_CONDITIONS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Conditions" } })
                            @Html.ValidationMessageFor(model => model.Entity.IP_CONDITIONS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Commodity Description")
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Entity.IP_COMMODITY_DESCRIPTION, new { @class = "form-control", @rows = "5", @placeholder = "Enter Commodity Description" })
                            @Html.ValidationMessageFor(model => model.Entity.IP_COMMODITY_DESCRIPTION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Heading Description")
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Entity.IP_HEADING_DESCRIPTION, new { @class = "form-control", @rows = "5", @placeholder = "Enter Heading Description" })
                            @Html.ValidationMessageFor(model => model.Entity.IP_HEADING_DESCRIPTION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Status")
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.DropDownListFor(model => model.Entity.IP_STATUS, new List<SelectListItem>
                                    { new SelectListItem{Text="Active", Value="true"},
                                     new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.Entity.IP_STATUS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Upload Bulk Import Policy</h3>
        <div class="card-tools">
            @using (Html.BeginForm("BulkImportPolicyPortfolio", "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input class="btn btn-outline-success" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required name="PostedFile" />

                <input class="btn btn-outline-success" type="submit" value="Bulk Upload" />
            }
        </div>
    </div>
</div>
@using (Html.BeginForm("ImportPolicyFilter", "Setup", FormMethod.Post))
{
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Filter Data</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("From Date")
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select From Date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("To Date")
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control CustomDatePicker", @autocomplete = "off", @placeholder = "Select To Date" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            </div>
            @{
                Html.RenderAction("ImportPolicyList", "Setup");
            }
        </div>
    </div>
}