﻿@model IEnumerable<PSW.Models.PSW_IMPORT_POLICY>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>PCT Code</th>
                    <th>Commodity Description</th>
                    <th>Conditions</th>
                    <th>Heading Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IP_PCT_CODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IP_COMMODITY_DESCRIPTION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IP_CONDITIONS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IP_HEADING_DESCRIPTION)
                        </td>
                        <td>
                            @if (item.IP_STATUS == true)
                            {
                                <p class="text-success">Active</p>
                            }
                            else
                            {
                                <p class="text-danger">Deactive</p>
                            }
                        </td>
                        <td>
                            @{
                                if (item.IP_ISAUTH == true)
                                {
                                    <a href="@Url.Action("ImportPolicy", "Setup", new { I = item.IP_ID })" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.IP_COMMODITY_DESCRIPTION)" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.IP_ISAUTH == false && item.IP_MAKER_ID != Session["USER_ID"].ToString())
                                {
                                    <button type="button" value="@item.IP_ID" name="AuthorizeImportPolicy" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.IP_COMMODITY_DESCRIPTION)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.IP_ID" name="RejectAuthorizeImportPolicy" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.IP_COMMODITY_DESCRIPTION)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

