﻿@model IEnumerable<PSW.Models.PSW_EMAIL_CONFIGRATION>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>@Html.Label("Server Host")</th>
                    <th>@Html.Label("Credential ID")</th>
                    <th>@Html.Label("Port")</th>
                    <th>@Html.Label("Status")</th>
                    <th>@Html.Label("Action")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EC_SEREVER_HOST)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EC_CREDENTIAL_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EC_EMAIL_PORT)
                        </td>
                        <td>
                            @{
                                if (item.EC_STATUS == true)
                                {
                                    <a class="btn btn-outline-success">Current</a>
                                }
                                else
                                {
                                    if (item.EC_IS_AUTH == true)
                                    {
                                        <button type="button" value="@item.EC_ID" name="UpdateEmailSetupStatus" data-toggle="tooltip" title="Set @Html.DisplayFor(modelItem => item.EC_CREDENTIAL_ID) as current" class="btn btn-outline-primary">Set As Current</button>
                                    }
                                    else
                                    {
                                        <button type="button" value="@item.EC_ID" name="UpdateEmailSetupStatus" class="btn btn-outline-primary" disabled>Set As Current</button>
                                    }
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (item.EC_IS_AUTH == true)
                                {
                                    <a href="@Url.Action("EmailSetup", "Setup", new { E = item.EC_ID })" data-toggle="tooltip" title="Edit @Html.DisplayFor(modelItem => item.EC_CREDENTIAL_ID)" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.EC_MAKER_ID != Session["USER_ID"].ToString() && item.EC_IS_AUTH == false)
                                {
                                    <button type="button" value="@item.EC_ID" name="AuthorizeEmailSetup" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.EC_CREDENTIAL_ID)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.EC_ID" name="RejectEmailSetup" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.EC_CREDENTIAL_ID)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}