﻿@model IEnumerable<PSW.Models.PSW_LIST_OF_COMMODITIES>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LCOM_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LCOM_CODE)
                        </td>
                        <td>
                            @if (item.LCOM_STATUS == true)
                            {
                                <p class="text-success">Active</p>
                            }
                            else
                            {
                                <p class="text-danger">Deactive</p>
                            }
                        </td>
                        <td>
                            @{
                                if (item.LCOM_ISAUTH == true)
                                {
                                    <a href="@Url.Action("ManageCommodities", "Setup", new { C = item.LCOM_ID })" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.LCOM_CODE)" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.LCOM_ISAUTH == false && item.LCOM_MAKER_ID != Session["USER_ID"].ToString())
                                {
                                    <button type="button" value="@item.LCOM_ID" name="AuthorizeManageCommodities" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.LCOM_CODE)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.LCOM_ID" name="RejectAuthorizeManageCommodities" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.LCOM_CODE)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
