﻿@model IEnumerable<PSW.Models.PSW_LIST_OF_COUNTRIES>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Country Name</th>
                    <th>Country Code</th>
                    <th>Country Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LC_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LC_CODE)
                        </td>
                        <td>
                            @if (item.LC_STATUS == true)
                            {
                                <p class="text-success">Active</p>
                            }
                            else
                            {
                                <p class="text-danger">Deactive</p>
                            }
                        </td>
                        <td>
                            @{
                                if (item.LC_ISAUTH == true)
                                {
                                    <a href="@Url.Action("ManageCountry", "Setup", new { C = item.LC_ID })" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.LC_MAKER_ID != Session["USER_ID"].ToString() && item.LC_ISAUTH == false)
                                {
                                    <button type="button" value="@item.LC_ID" name="AuthorizeCountry" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.LC_NAME)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.LC_ID" name="RejectAuthorizeCountry" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.LC_NAME)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
