﻿@model IEnumerable<PSW.Models.PSW_AUTH_PAY_MODE_VIEW>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
<table id="example1" class="table table-bordered text-center table-hover">
    <thead class="Custom-Table-Head">
        <tr>
            <th>Code</th>
            <th>Status</th>
            <th>Payment Term</th>
            <th>Number Of Days</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.APM_CODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APM_STATUS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APM_NO_OF_DAYS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APM_DESCRIPTION)
                </td>
                <td>
                    @{
                        if (item.APM_ISAUTH == true)
                        {
                            <a href="@Url.Action("PaymentModes", "Setup", new { P = item.APM_ID })" class="btn btn-outline-primary">Edit</a>
                        }
                        if (item.APM_ISAUTH == false && item.APM_MAKER_ID != Session["USER_ID"].ToString())
                        {
                            <button type="button" value="@item.APM_ID" name="AuthorizePayModes" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.APM_STATUS)" class="btn btn-outline-success">
                                <span class="fas fa-check"></span>
                            </button>
                            <button type="button" value="@item.APM_ID" name="RejectAuthorizePayModes" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.APM_STATUS)" class="btn btn-outline-danger">
                                <span class="fas fa-times"></span>
                            </button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
    }
}
