﻿@model IEnumerable<PSW.Models.PSW_PORT_OF_SHIPPING>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="Custom-Table-Head">
                <tr>
                    <th>Country Code</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Port Type Code</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.POS_COUNTRY_CODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.POS_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.POS_CODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.POS_PORT_TYPE_CODE)
                        </td>
                        <td>
                            @{
                                if (item.POS_ISAUTH == true)
                                {
                                    <a href="@Url.Action("PortOfShipping","Setup", new { P = item.POS_ID})" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.POS_NAME)" class="btn btn-outline-primary">Edit</a>
                                }
                                if (item.POS_MAKER_ID != Session["USER_ID"].ToString() && item.POS_ISAUTH == false)
                                {
                                    <button type="button" value="@item.POS_ID" name="AuthorizePortOfShipping" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.POS_NAME)" class="btn btn-outline-success">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.POS_ID" name="RejectAuthorizePortOfShipping" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.POS_NAME)" class="btn btn-outline-danger">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
}
