﻿@model IEnumerable<PSW.Models.PSW_UNIT_OF_MEASUREMENT>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <table id="example1" class="table table-bordered text-center table-hover">
                <thead class="Custom-Table-Head">
                    <tr>
                        <th>
                            @Html.Label("Code")
                        </th>
                        <th>
                            @Html.Label("Description")
                        </th>
                        <th>
                            @Html.Label("Status")
                        </th>
                        <th>
                            @Html.Label("Action")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UOM_CODE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UOM_DESCRIPTION)
                            </td>
                            <td>
                                @if (item.UOM_STATUS == true)
                                {
                                    <p class="text-success">Active</p>
                                }
                                else
                                {
                                    <p class="text-danger">Deactive</p>
                                }
                            </td>
                            <td>
                                @{
                                    if (item.UOM_ISAUTH == true)
                                    {
                                        <a href="@Url.Action("UOM", "Setup", new { U = item.UOM_ID })" class="btn btn-outline-info">Edit</a>
                                    }
                                    if (item.UOM_ISAUTH == false && item.UOM_MAKER_ID != Session["USER_ID"].ToString())
                                    {
                                        <button type="button" value="@item.UOM_ID" name="AuthorizeUOM" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.UOM_CODE)" class="btn btn-outline-success">
                                            <span class="fas fa-check"></span>
                                        </button>
                                        <button type="button" value="@item.UOM_ID" name="RejectUOM" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.UOM_CODE)" class="btn btn-outline-danger">
                                            <span class="fas fa-times"></span>
                                        </button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}
